---
---

<section>
	<div class="max-w-6xl mx-auto px-4 sm:px-6 overflow-hidden">
		<div class="py-12 md:py-20">
			<div class="py-4 sm:py-6 lg:py-8">
				<div class="flex flex-wrap md:-mx-8">
					<div class="w-full lg:w-1/3 px-0 sm:px-8">
						<div class="mb-12 lg:mb-0 pb-12 lg:pb-0 border-b lg:border-b-0">
							<h2 class="mb-4 text-3xl lg:text-4xl font-bold font-heading">
								Extras
							</h2>

							<p class="mb-8 text-xl text-gray-600 dark:text-slate-400">
								Other pieces of work that I think would be good to share.
							</p>

							<div class="w-full">
								<lottie-player class="mx-auto rounded-md w-full" src="https://assets7.lottiefiles.com/packages/lf20_Gp7p4T7GRI.json" background="transparent" speed="0.5" style="width: 60%;" loop="" autoplay=""></lottie-player>
							</div>
						</div>
					</div>
					<div class="w-full lg:w-2/3 px-0 sm:px-8">
						<ul class="space-y-12">
							<li class="flex md:-mx-4">
								<div class="pr-4 sm:pl-4">
									<span
										class="flex w-16 h-16 mx-auto items-center justify-center text-2xl font-bold rounded-full bg-primary-50 text-primary-600"
									>
										1</span
									>
								</div>
								<div class="px-4">
									<a class="mb-4 text-xl font-semibold font-heading hover:underline cursor-pointer" href="https://challenge-js.netlify.app" target="_blank">Coding Challenges</a>
									<p class="text-gray-500 dark:text-gray-400">
										Website containing leetcode or advent of code solutions and explainations.
									</p>
									<div class="grid max-w-none grid-cols-8 sm:flex-row sm:justify-center gap-4 pt-4">
										<div class="group cursor-pointer relative inline-block text-center">
											<img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg" width="100%" alt="HTML" />
											<div class="absolute bottom-0 flex-col items-center hidden mb-6 group-hover:flex">
												<span class="relative z-10 p-3 text-xs leading-none rounded-lg text-white whitespace-no-wrap bg-gradient-to-r from-primary-800 to-secondary-600 shadow-lg">
													HTML
												</span>
											</div>
										</div>	
										<div class="group cursor-pointer relative inline-block text-center">
											<img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg" width="100%" alt="CSS" />
											<div class="absolute bottom-0 flex-col items-center hidden mb-6 group-hover:flex">
												<span class="relative z-10 p-3 text-xs leading-none rounded-lg text-white whitespace-no-wrap bg-gradient-to-r from-primary-800 to-secondary-600 shadow-lg">
													CSS
												</span>
											</div>
										</div>
										<div class="group cursor-pointer relative inline-block text-center">
											<img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-plain.svg" width="80%" alt="JavaScript" />
											<div class="absolute bottom-0 flex-col items-center hidden mb-6 group-hover:flex">
												<span class="relative z-10 p-3 text-xs leading-none rounded-lg text-white whitespace-no-wrap bg-gradient-to-r from-primary-800 to-secondary-600 shadow-lg">
													JavaScript
												</span>
											</div>
										</div>
									</div>
								</div>
							</li>
							<li class="flex md:-mx-4">
								<div class="pr-4 sm:pl-4">
									<span
										class="flex w-16 h-16 mx-auto items-center justify-center text-2xl font-bold rounded-full bg-primary-50 text-primary-600"
									>
										2</span
									>
								</div>
								<div class="px-4">
									<a class="mb-4 text-xl font-semibold font-heading hover:underline cursor-pointer" href="/blog" target="_blank">Blog</a>
									<p class="text-gray-500 dark:text-gray-400">
										Posting about topics that I find intriguing or case studies about progress towards my projects.
									</p>
									<div class="grid max-w-none grid-cols-8 sm:flex-row sm:justify-center gap-4 pt-4">
										<div class="group cursor-pointer relative inline-block text-center">
											<img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg" width="100%" alt="HTML" />
											<div class="absolute bottom-0 flex-col items-center hidden mb-6 group-hover:flex">
												<span class="relative z-10 p-3 text-xs leading-none rounded-lg text-white whitespace-no-wrap bg-gradient-to-r from-primary-800 to-secondary-600 shadow-lg">
													HTML
												</span>
											</div>
										</div>	
										<div class="group cursor-pointer relative inline-block text-center">
											<img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg" width="100%" alt="CSS" />
											<div class="absolute bottom-0 flex-col items-center hidden mb-6 group-hover:flex">
												<span class="relative z-10 p-3 text-xs leading-none rounded-lg text-white whitespace-no-wrap bg-gradient-to-r from-primary-800 to-secondary-600 shadow-lg">
													CSS
												</span>
											</div>
										</div>
										<div class="group cursor-pointer relative inline-block text-center">
											<img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-original.svg" width="100%" alt="TypeScript" />
											<div class="absolute bottom-0 flex-col items-center hidden mb-6 group-hover:flex">
												<span class="relative z-10 p-3 text-xs leading-none rounded-lg text-white whitespace-no-wrap bg-gradient-to-r from-primary-800 to-secondary-600 shadow-lg">
													TypeScript
												</span>
											</div>
										</div>
										<div class="group cursor-pointer relative inline-block text-center">
											<img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/tailwindcss/tailwindcss-plain.svg" width="100%" alt="Tailwind" />
											<div class="absolute bottom-0 flex-col items-center hidden mb-6 group-hover:flex">
												<span class="relative z-10 p-3 text-xs leading-none rounded-lg text-white whitespace-no-wrap bg-gradient-to-r from-primary-800 to-secondary-600 shadow-lg">
													Tailwind
												</span>
											</div>
										</div>
										<div class="group cursor-pointer relative inline-block text-center">
											<img src="https://astro.build/assets/press/logomark-light.svg" width="100%" alt="Astro" />
											<div class="absolute bottom-0 flex-col items-center hidden mb-6 group-hover:flex">
												<span class="relative z-10 p-3 text-xs leading-none rounded-lg text-white whitespace-no-wrap bg-gradient-to-r from-primary-800 to-secondary-600 shadow-lg">
													Astro
												</span>
											</div>
										</div>
										<div class="group cursor-pointer relative inline-block text-center">
											<img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/markdown/markdown-original.svg" width="80%" alt="Markdown" />
											<div class="absolute bottom-0 flex-col items-center hidden mb-6 group-hover:flex">
												<span class="relative z-10 p-3 text-xs leading-none rounded-lg text-white whitespace-no-wrap bg-gradient-to-r from-primary-800 to-secondary-600 shadow-lg">
													Markdown
												</span>
											</div>
										</div>
									</div>
								</div>
							</li>
							<li class="flex md:-mx-4">
								<div class="pr-4 sm:pl-4">
									<span
										class="flex w-16 h-16 mx-auto items-center justify-center text-2xl font-bold rounded-full bg-primary-50 text-primary-600"
									>
										3</span
									>
								</div>
								<div class="px-4">
									<a class="mb-4 text-xl font-semibold font-heading hover:underline cursor-pointer" href="/" target="_blank">Portfolio</a>
									<p class="text-gray-500 dark:text-gray-400">
										You are already here! Thank you for taking the time to view my story.
									</p>
									<div class="grid max-w-none grid-cols-8 sm:flex-row sm:justify-center gap-4 pt-4">
										<div class="group cursor-pointer relative inline-block text-center">
											<img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg" width="100%" alt="HTML" />
											<div class="absolute bottom-0 flex-col items-center hidden mb-6 group-hover:flex">
												<span class="relative z-10 p-3 text-xs leading-none rounded-lg text-white whitespace-no-wrap bg-gradient-to-r from-primary-800 to-secondary-600 shadow-lg">
													HTML
												</span>
											</div>
										</div>	
										<div class="group cursor-pointer relative inline-block text-center">
											<img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg" width="100%" alt="CSS" />
											<div class="absolute bottom-0 flex-col items-center hidden mb-6 group-hover:flex">
												<span class="relative z-10 p-3 text-xs leading-none rounded-lg text-white whitespace-no-wrap bg-gradient-to-r from-primary-800 to-secondary-600 shadow-lg">
													CSS
												</span>
											</div>
										</div>
										<div class="group cursor-pointer relative inline-block text-center">
											<img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-original.svg" width="100%" alt="TypeScript" />
											<div class="absolute bottom-0 flex-col items-center hidden mb-6 group-hover:flex">
												<span class="relative z-10 p-3 text-xs leading-none rounded-lg text-white whitespace-no-wrap bg-gradient-to-r from-primary-800 to-secondary-600 shadow-lg">
													TypeScript
												</span>
											</div>
										</div>
										<div class="group cursor-pointer relative inline-block text-center">
											<img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/tailwindcss/tailwindcss-plain.svg" width="100%" alt="Tailwind" />
											<div class="absolute bottom-0 flex-col items-center hidden mb-6 group-hover:flex">
												<span class="relative z-10 p-3 text-xs leading-none rounded-lg text-white whitespace-no-wrap bg-gradient-to-r from-primary-800 to-secondary-600 shadow-lg">
													Tailwind
												</span>
											</div>
										</div>
										<div class="group cursor-pointer relative inline-block text-center">
											<img src="https://astro.build/assets/press/logomark-light.svg" width="100%" alt="Astro" />
											<div class="absolute bottom-0 flex-col items-center hidden mb-6 group-hover:flex">
												<span class="relative z-10 p-3 text-xs leading-none rounded-lg text-white whitespace-no-wrap bg-gradient-to-r from-primary-800 to-secondary-600 shadow-lg">
													Astro
												</span>
											</div>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
