---
import { Icon } from 'astro-icon';
import ToggleTheme from '../core/ToggleTheme.astro';
---

<footer class="border-t border-gray-200 dark:border-slate-800">
	<div class="max-w-6xl mx-auto px-4 sm:px-6">
		<div class="grid grid-cols-2 sm:grid-cols-2 md:grid-cols-4 gap-4 gap-y-4 sm:gap-8 py-6">
			<div class="text-gray-800 dark:text-gray-300 mb-2 text-md">
				<a href="/" class="underline" >Home</a>
				<ul class="py-2">
					<li class="mb-2">
						<a class="text-gray-600 hover:text-gray-700 dark:text-gray-400 transition duration-150 ease-in-out"
							href="#skills"
							>Skills</a
						>
					</li>
					<li class="mb-2">
						<a class="text-gray-600 hover:text-gray-700 dark:text-gray-400 transition duration-150 ease-in-out"
							href="#history"
							>My Journey</a
						>
					</li>
					<li class="mb-2">
						<a class="text-gray-600 hover:text-gray-700 dark:text-gray-400 transition duration-150 ease-in-out"
							href="#projects"
							>Featured Projects</a
						>
					</li>
				</ul>
			</div>
			<div class="text-gray-800 dark:text-gray-300 mb-2 text-md">
				<a href="/blog" class="underline">Blog</a>
				<ul class="py-2">
					<li class="mb-2">
						<a class="text-gray-600 hover:text-gray-700 dark:text-gray-400 transition duration-150 ease-in-out"
							href="/spoura-why-i-love-svelte"
							>Ecommerce - Spoura</a
						>
					</li>
					<li class="mb-2">
						<a class="text-gray-600 hover:text-gray-700 dark:text-gray-400 transition duration-150 ease-in-out"
							href="/what-impact-does-chatgpt-have"
							>Impact of ChatGPT</a
						>
					</li>
					<li class="mb-2">
						<a class="text-gray-600 hover:text-gray-700 dark:text-gray-400 transition duration-150 ease-in-out"
							href="/mymovies-casestudy"
							>API overload - MyMovies</a
						>
					</li>
				</ul>
			</div>
			<!-- <div class="text-gray-800 dark:text-gray-300 font-medium mb-2 text-lg"><a href="#contact">Contact</a></div> -->
			<div class="text-gray-800 dark:text-gray-300 mb-1 col-span-2">
				<ul class="text-md py-1 columns-5">
					<li class="mb-1">
						<a
							class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
							aria-label="Linkedin"
							href="https://www.linkedin.com/in/mtlh/" target="_blank"
						>
							<Icon name="tabler:brand-linkedin" class="w-6 h-6" />
						</a>
					</li>
					<li class="mb-1">
						<a
							class="inline-block text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5"
							aria-label="Github"
							href="https://github.com/mtlh/" target="_blank"
						>
							<Icon name="tabler:brand-github" class="w-6 h-6" />
						</a>
					</li>
					<li class="mb-1">
						<a
							class="inline-block text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5"
							aria-label="Email"
							href="mailto:matthewtlharvey@gmail.com"
						>
							<Icon name="tabler:mail-forward" class="w-6 h-6" />
						</a>
					</li>
					<li class="mb-1">
						<a
							class="inline-block text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5"
							aria-label="CV"
							href="/MatthewHarveyCV.pdf" target="_blank"
						>
							<Icon name="tabler:file-info" class="w-6 h-6" />
						</a>
					</li>
					<li class="mb-1">
						<ToggleTheme />
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>
