---
import { Icon } from 'astro-icon';
---

<section>
	<div class="max-w-6xl mx-auto px-4 sm:px-6">
		<div class="py-12 md:py-20">
			<div class="text-center pb-10 md:pb-16 max-w-5xl mx-auto">
				<h1 class="text-6xl md:text-[4.50rem] font-bold leading-tighter tracking-tighter mb-4 font-heading">
					Matthew Harvey
				</h1>
				<h2 class="text-3xl md:text-[2.50rem] font-bold leading-tighter tracking-tighter mb-4 font-heading">
					<span
						class="bg-clip-text text-transparent bg-gradient-to-r from-primary-800 to-secondary-600 sm:whitespace-nowrap"
						>Software Developer
					</span>
				</h2>
				<div class="max-w-3xl mx-auto">
					<p class="text-xl text-gray-600 mb-8 dark:text-slate-400">
						Over a year of previous experience in an Agile Development Team using Java, JavaScript, HTML/CSS and SQL.
						Revelant customer service experience in a large operation, studying towards a BSc Computer Science at De Montfort University.
					</p>
					<div class="max-w-none px-6 flex flex-nowrap flex-col sm:flex-row sm:justify-center gap-4">
						<div class="flex w-full sm:w-auto">
							<a
								class="btn text-white border border-primary-600 bg-primary-600 hover:bg-primary-800 hover:border-primary-800 sm:mb-0 w-full"
								href="#projects"
							>
								<Icon name="tabler:arrow-down" class="w-5 h-5 mr-1 -ml-1.5" /> View Projects
							</a>
						</div>
						<div class="flex w-full sm:w-auto">
							<a
								class="btn text-white bg-gray-900 hover:bg-gray-700 dark:bg-gray-700 dark:hover:bg-gray-800 w-full"
								href="https://www.linkedin.com/in/m-harvey/" target="_blank">Connect
							</a>
						</div>
					</div>
				</div>
			</div>
			<div>
				<div class="relative mb-0 m-auto max-w-3xl">
					<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
					<lottie-player class="mx-auto rounded-md w-full" src="https://assets3.lottiefiles.com/packages/lf20_rycdh53q.json" background="transparent" speed="0.5" style="width: 50%;" loop="" autoplay=""></lottie-player>
				</div>
			</div>
			<div>
				<div class="relative mb-0 m-auto max-w-3xl">
					<img class="mx-auto rounded-md w-full" src="https://ghchart.rshah.org/Matthew-Harvey" alt="Matthew Harvey Github chart" width="100%">
				</div>
			</div>
		</div>
	</div>
</section>
