---
import { Icon } from 'astro-icon';
---

<section class="px-4 py-16 sm:px-6 mx-auto lg:px-8 lg:py-20 max-w-6xl" id="history">
	<div class="grid gap-6 row-gap-10 md:grid-cols-2">
		<div class="md:pb-6 md:pr-16">
			<h2 class="mb-8 text-3xl lg:text-4xl font-bold font-heading">
				Work History
			</h2>
			<div class="flex">
				<div class="flex flex-col items-center mr-4">
					<div>
						<div class="flex items-center justify-center w-10 h-10 rounded-full bg-gradient-to-r from-primary-800 to-secondary-600 border-2">
							<Icon name="tabler:at" class="w-6 h-6 text-slate-200 icon-bold" />
						</div>
					</div>
					<div class="w-px h-full bg-gray-300 dark:bg-slate-500"></div>
				</div>
				<div class="pt-1 pb-8">
					<p class="mb-2 text-xl font-bold text-gray-900 dark:text-slate-300">Placement Technical Specialist</p>
					<p class="mb-2 text-l font-medium text-gray-900 dark:text-slate-300">Leicestershire County Council</p>
					<span class="inline text-l font-medium text-gray-900 dark:text-slate-300">
						<Icon name="tabler:calendar-time" class="w-6 h-6 icon-bold inline" />
						<p class="inline">June 2022 - Present</p>
					</span>
					<p class="py-2">
						Intergrated 3rd party services and creation/maintainance of web-based internal + external forms and care systems.
					</p>
				</div>
			</div>
			<div class="flex">
				<div class="flex flex-col items-center mr-4">
					<div>
						<div class="flex items-center justify-center w-10 h-10 rounded-full border-secondary-500 border-2">
							<Icon name="tabler:arrow-up" class="w-6 h-6 text-gray-600 dark:text-slate-200 icon-bold" />
						</div>
					</div>
					<div class="w-px h-full bg-gray-300 dark:bg-slate-500"></div>
				</div>
				<div class="pt-1 pb-8">
					<p class="mb-2 text-xl font-bold text-gray-900 dark:text-slate-300">Customer Service Advisor</p>
					<p class="mb-2 text-l font-medium text-gray-900 dark:text-slate-300">Serco</p>
					<span class="inline text-l font-medium text-gray-900 dark:text-slate-300">
						<Icon name="tabler:calendar-time" class="w-6 h-6 icon-bold inline" />
						<p class="inline">May 2020 - September 2020</p>
					</span>
					<p class="py-2">
						Conducted outbound calls to a person in contact with another individual
						 that has received a positive coronavirus test to advise them to self-isolate,
						  as part of the NHS COVID-19 contact tracing programme.
					</p>
				</div>
			</div>
		</div>
		<div class="flex">
			<img class="rounded-md" src="https://mharvey.netlify.app/main_img/title_img.webp" alt="StockWork" />
		</div>
	</div>
	<div class="grid gap-6 row-gap-10 md:grid-cols-2">
		<div class="md:pb-6 md:pr-16">
			<h2 class="mb-8 text-3xl lg:text-4xl font-bold font-heading">
				Education
			</h2>
			<div class="flex">
				<div class="flex flex-col items-center mr-4">
					<div>
						<div class="flex items-center justify-center w-10 h-10 rounded-full bg-gradient-to-r from-primary-800 to-secondary-600 border-2">
							<Icon name="tabler:at" class="w-6 h-6 text-slate-200 icon-bold" />
						</div>
					</div>
					<div class="w-px h-full bg-gray-300 dark:bg-slate-500"></div>
				</div>
				<div class="pt-1 pb-8">
					<p class="mb-2 text-xl font-bold text-gray-900 dark:text-slate-300">BSc Computer Science</p>
					<p class="mb-2 text-l font-medium text-gray-900 dark:text-slate-300">De Montfort University</p>
					<span class="inline text-l font-medium text-gray-900 dark:text-slate-300">
						<Icon name="tabler:calendar-time" class="w-6 h-6 icon-bold inline" />
						<p class="inline">2020 - Present</p>
					</span>
					<p class="py-2">
						HTML - CSS - JavaScript - PHP - Scala - Java - SQL - Git
					</p>
				</div>
			</div>
		</div>
		<div class="grid grid-cols-2">
			<div>
				<img width="100%" class="rounded-md" src="https://upload.wikimedia.org/wikipedia/en/8/82/Leicestershire_County_Council.svg" alt="LCC" />
			</div>
			<div>
				<img width="100%" class="rounded-md" src="https://upload.wikimedia.org/wikipedia/commons/b/b1/Serco_logo.svg" alt="Serco" />
			</div>
			<div>
				<img width="100%" class="rounded-md" src="https://upload.wikimedia.org/wikipedia/en/1/17/De_Montfort_University_logo.svg" alt="DMU" />
			</div>
		</div>
	</div>
</section>
