---
import Icon from "astro-icon";
import { Image } from '@astrojs/image/components';
---

<section class="bg-primary-100 dark:bg-slate-800" id="projects">
	<div class="px-4 py-8 mx-auto max-w-6xl lg:px-8 lg:py-10">
		<div class="max-w-xl mb-10 md:mx-auto text-center lg:max-w-2xl md:mb-12">
			<p class="text-base text-primary-600 dark:text-primary-200 font-semibold tracking-wide uppercase">Projects</p>
			<h2 class="text-4xl md:text-5xl font-bold leading-tighter tracking-tighter mb-4 font-heading">
				What I have made
			</h2>
			<p class="max-w-3xl mx-auto sm:text-center text-xl text-gray-600 dark:text-slate-400">
				My best fully featured professional applications.
			</p>
		</div>
		<div class="grid items-stretch gap-6 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 my-12 antialiased">
			<div class="relative flex h-full flex-col p-2">
				<div class="mockup-window border bg-slate-900 text-slate-100 dark:text-black">
					<Image
						class="flex justify-center w-full object-cover object-center rounded-lg shadow-md"
						src={import('~/assets/images/filmfront_thumb.webp')}
						widths={[377, 516, 688, 900]}
						sizes="100vw"
						alt="FilmFront"
						aspectRatio="auto:auto"
					/>
				</div>
				<div class="relative px-4 -mt-16">
					<div class="bg-white dark:bg-slate-900 p-6 rounded-lg shadow-xl">
						<div class="mb-6 mt-1">
							<h3 class="mb-4 text-3xl font-bold">FilmFront</h3>
							<a
								class="btn text-white border border-primary-600 bg-primary-600 hover:bg-primary-800 hover:border-primary-800 mb-4"
								href="https://filmfront.vercel.app/"
								target="_blank"
							>
								<Icon name="tabler:movie" class="w-5 h-5 mr-1 -ml-1.5" /> Live Demo
							</a>
							<a
								class="btn text-white border bg-gray-900 hover:bg-gray-700 dark:bg-gray-700 dark:hover:bg-gray-800 mb-4"
								href="https://github.com/mtlh/FilmFront"
								target="_blank"
							>
								<Icon name="tabler:brand-github" class="w-5 h-5 mr-1 -ml-1.5" /> Github
							</a>
							<p class="mb-4">
								Movie site made using TMDb API that allows users to search new movies, tv shows and actors,
								 create lists and answer trivia questions.
							</p>
							<div class="grid max-w-none grid-cols-6 lg:grid-cols-8 sm:flex-row sm:justify-center gap-4">
								<div class="group cursor-pointer relative inline-block text-center">
									<img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/tailwindcss/tailwindcss-plain.svg" width="100%" alt="Tailwind" />
									<div class="absolute bottom-0 flex-col items-center hidden mb-6 group-hover:flex">
										<span class="relative z-10 p-3 text-xs leading-none rounded-lg text-white whitespace-no-wrap bg-gradient-to-r from-primary-800 to-secondary-600 shadow-lg">
											Tailwind
										</span>
									</div>
								</div>
								<div class="group cursor-pointer relative inline-block text-center">
									<img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-original.svg" width="100%" alt="TypeScript" />
									<div class="absolute bottom-0 flex-col items-center hidden mb-6 group-hover:flex">
										<span class="relative z-10 p-3 text-xs leading-none rounded-lg text-white whitespace-no-wrap bg-gradient-to-r from-primary-800 to-secondary-600 shadow-lg">
											TypeScript
										</span>
									</div>
								</div>
								<div class="group cursor-pointer relative inline-block text-center">
									<img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg" width="100%" alt="React" />
									<div class="absolute bottom-0 flex-col items-center hidden mb-6 group-hover:flex">
										<span class="relative z-10 p-3 text-xs leading-none rounded-lg text-white whitespace-no-wrap bg-gradient-to-r from-primary-800 to-secondary-600 shadow-lg">
											React
										</span>
									</div>
								</div>
								<div class="group cursor-pointer relative inline-block text-center">
									<img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nextjs/nextjs-line.svg" width="100%" alt="Nextjs" />
									<div class="absolute bottom-0 flex-col items-center hidden mb-6 group-hover:flex">
										<span class="relative z-10 p-3 text-xs leading-none rounded-lg text-white whitespace-no-wrap bg-gradient-to-r from-primary-800 to-secondary-600 shadow-lg">
											Nextjs
										</span>
									</div>
								</div>
								<div class="group cursor-pointer relative inline-block text-center">
									<img src="https://www.vectorlogo.zone/logos/supabase/supabase-icon.svg" width="100%" alt="Bootstrap" />
									<div class="absolute bottom-0 flex-col items-center hidden mb-6 group-hover:flex">
										<span class="relative z-10 p-3 text-xs leading-none rounded-lg text-white whitespace-no-wrap bg-gradient-to-r from-primary-800 to-secondary-600 shadow-lg">
											Supabase
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="relative flex h-full flex-col p-2">
				<div class="mockup-window border bg-slate-100 text-slate-900 dark:text-black">
					<Image
						class="flex justify-center w-full object-cover object-center rounded-lg shadow-md"
						src={import('~/assets/images/spoura_portfolio.webp')}
						widths={[377, 516, 688, 900]}
						sizes="100vw"
						alt="Spoura"
						aspectRatio="auto:auto"
					/>
				  </div>
				<div class="relative px-4 -mt-16">
					<div class="bg-white dark:bg-slate-900 p-6 rounded-lg shadow-xl">
						<div class="mb-6 mt-1">
							<h3 class="mb-4 text-3xl font-bold">Spoura</h3>
							<a
								class="btn text-white border border-primary-600 bg-primary-600 hover:bg-primary-800 hover:border-primary-800 mb-4"
								href="https://spoura.vercel.app/"
								target="_blank"
							>
								<Icon name="tabler:basket" class="w-5 h-5 mr-1 -ml-1.5" /> Live Demo
							</a>
							<a
								class="btn text-white border bg-gray-900 hover:bg-gray-700 dark:bg-gray-700 dark:hover:bg-gray-800 mb-4"
								href="https://github.com/mtlh/Spoura"
								target="_blank"
							>
								<Icon name="tabler:brand-github" class="w-5 h-5 mr-1 -ml-1.5" /> Github
							</a>
							<p class="mb-4">
								Fully featured ecommerce platform, favourite and buy shoes from the best brands. Payment intergrated with Google Pay API.
							</p>
							<div class="grid max-w-none grid-cols-6 lg:grid-cols-8 sm:flex-row sm:justify-center gap-4">
								<div class="group cursor-pointer relative inline-block text-center">
									<img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/tailwindcss/tailwindcss-plain.svg" width="100%" alt="Tailwind" />
									<div class="absolute bottom-0 flex-col items-center hidden mb-6 group-hover:flex">
										<span class="relative z-10 p-3 text-xs leading-none rounded-lg text-white whitespace-no-wrap bg-gradient-to-r from-primary-800 to-secondary-600 shadow-lg">
											Tailwind
										</span>
									</div>
								</div>
								<div class="group cursor-pointer relative inline-block text-center">
									<img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-original.svg" width="100%" alt="TypeScript" />
									<div class="absolute bottom-0 flex-col items-center hidden mb-6 group-hover:flex">
										<span class="relative z-10 p-3 text-xs leading-none rounded-lg text-white whitespace-no-wrap bg-gradient-to-r from-primary-800 to-secondary-600 shadow-lg">
											TypeScript
										</span>
									</div>
								</div>
								<div class="group cursor-pointer relative inline-block text-center">
									<img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/svelte/svelte-original.svg" width="100%" alt="Svelte" />
									<div class="absolute bottom-0 flex-col items-center hidden mb-6 group-hover:flex">
										<span class="relative z-10 p-3 text-xs leading-none rounded-lg text-white whitespace-no-wrap bg-gradient-to-r from-primary-800 to-secondary-600 shadow-lg">
											Svelte
										</span>
									</div>
								</div>
								<div class="group cursor-pointer relative inline-block text-center">
									<svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" fill="none"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><title>file_type_vite</title><path d="M29.8836 6.146L16.7418 29.6457c-.2714.4851-.9684.488-1.2439.0052L2.0956 6.1482c-.3-.5262.1498-1.1635.746-1.057l13.156 2.3516a.7144.7144 0 00.2537-.0004l12.8808-2.3478c.5942-.1083 1.0463.5241.7515 1.0513z" fill="url(#paint0_linear)"></path><path d="M22.2644 2.0069l-9.7253 1.9056a.3571.3571 0 00-.2879.3294l-.5982 10.1038c-.014.238.2045.4227.4367.3691l2.7077-.6248c.2534-.0585.4823.1647.4302.4194l-.8044 3.9393c-.0542.265.1947.4918.4536.4132l1.6724-.5082c.2593-.0787.5084.1487.4536.414l-1.2784 6.1877c-.08.387.4348.598.6495.2662L16.5173 25 24.442 9.1848c.1327-.2648-.096-.5667-.387-.5106l-2.787.5379c-.262.0505-.4848-.1934-.4109-.4497l1.8191-6.306c.074-.2568-.1496-.5009-.4118-.4495z" fill="url(#paint1_linear)"></path><defs id="defs50"><linearGradient id="paint0_linear" x1="6.0002" y1="32.9999" x2="235" y2="344" gradientUnits="userSpaceOnUse" gradientTransform="matrix(.07142 0 0 .07142 1.3398 1.8944)"><stop stop-color="#41D1FF" id="stop38"></stop><stop offset="1" stop-color="#BD34FE" id="stop40"></stop></linearGradient><linearGradient id="paint1_linear" x1="194.651" y1="8.8182" x2="236.076" y2="292.989" gradientUnits="userSpaceOnUse" gradientTransform="matrix(.07142 0 0 .07142 1.3398 1.8944)"><stop stop-color="#FFEA83" id="stop43"></stop><stop offset=".0833" stop-color="#FFDD35" id="stop45"></stop><stop offset="1" stop-color="#FFA800" id="stop47"></stop></linearGradient></defs></g></svg>
									<div class="absolute bottom-0 flex-col items-center hidden mb-6 group-hover:flex">
										<span class="relative z-10 p-3 text-xs leading-none rounded-lg text-white whitespace-no-wrap bg-gradient-to-r from-primary-800 to-secondary-600 shadow-lg">
											Vite
										</span>
									</div>
								</div>
								<div class="group cursor-pointer relative inline-block text-center">
									<img src="https://raw.githubusercontent.com/prisma/presskit/main/Assets/Prisma-DarkSymbol.svg" width="85%" alt="Prisma" />
									<div class="absolute bottom-0 flex-col items-center hidden mb-6 group-hover:flex">
										<span class="relative z-10 p-3 text-xs leading-none rounded-lg text-white whitespace-no-wrap bg-gradient-to-r from-primary-800 to-secondary-600 shadow-lg">
											Prisma
										</span>
									</div>
								</div>
								<div class="group cursor-pointer relative inline-block text-center">
									<img src="https://cdn.sanity.io/images/o0o2tn5x/production/875e1f1f8c86f6a071299af6e0a8af1893d9cabc-908x908.png" width="100%" alt="PlanetScale" />
									<div class="absolute bottom-0 flex-col items-center hidden mb-6 group-hover:flex">
										<span class="relative z-10 p-3 text-xs leading-none rounded-lg text-white whitespace-no-wrap bg-gradient-to-r from-primary-800 to-secondary-600 shadow-lg">
											PlanetScale
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="relative flex h-full flex-col p-2">
				<div class="mockup-window border bg-gray-400 text-slate-900 dark:text-black">
					<Image
						class="flex justify-center w-full object-cover object-center rounded-lg shadow-md"
						src={import('~/assets/images/refreshly_thumb.webp')}
						widths={[377, 516, 688, 900]}
						sizes="100vw"
						alt="IssueTrack"
						aspectRatio="auto:auto"
					/>
				</div>
				<div class="relative px-4 -mt-16">
					<div class="bg-white dark:bg-slate-900 p-6 rounded-lg shadow-xl">
						<div class="mb-6 mt-1">
							<h3 class="mb-4 text-3xl font-bold">Refreshly</h3>
							<a
								class="btn text-white border border-primary-600 bg-primary-600 hover:bg-primary-800 hover:border-primary-800 mb-4"
								href="https://refreshly.vercel.app/"
								target="_blank"
							>
								<Icon name="tabler:bug" class="w-5 h-5 mr-1 -ml-1.5" /> Live Demo
							</a>
							<a
								class="btn text-white border bg-gray-900 hover:bg-gray-700 dark:bg-gray-700 dark:hover:bg-gray-800 mb-4"
								href="https://github.com/mtlh/Refreshly"
								target="_blank"
							>
								<Icon name="tabler:brand-github" class="w-5 h-5 mr-1 -ml-1.5" /> Github
							</a>
							<p class="mb-4">
								Application with custom JWT authentication that allows users/teams to collaborate 
								and manage tasks. Featuring a fully customisable kanban and dashboards.
							</p>
							<div class="grid max-w-none grid-cols-6 lg:grid-cols-8 sm:flex-row sm:justify-center gap-4">
								<div class="group cursor-pointer relative inline-block text-center">
									<img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/tailwindcss/tailwindcss-plain.svg" width="100%" alt="Tailwind" />
									<div class="absolute bottom-0 flex-col items-center hidden mb-6 group-hover:flex">
										<span class="relative z-10 p-3 text-xs leading-none rounded-lg text-white whitespace-no-wrap bg-gradient-to-r from-primary-800 to-secondary-600 shadow-lg">
											Tailwind
										</span>
									</div>
								</div>
								<div class="group cursor-pointer relative inline-block text-center">
									<img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-original.svg" width="100%" alt="TypeScript" />
									<div class="absolute bottom-0 flex-col items-center hidden mb-6 group-hover:flex">
										<span class="relative z-10 p-3 text-xs leading-none rounded-lg text-white whitespace-no-wrap bg-gradient-to-r from-primary-800 to-secondary-600 shadow-lg">
											TypeScript
										</span>
									</div>
								</div>
								<div class="group cursor-pointer relative inline-block text-center">
									<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 166 155.3"><defs><linearGradient id="a" gradientUnits="userSpaceOnUse" x1="27.5" y1="3" x2="152" y2="63.5"><stop offset=".1" stop-color="#76b3e1"/><stop offset=".3" stop-color="#dcf2fd"/><stop offset="1" stop-color="#76b3e1"/></linearGradient><linearGradient id="b" gradientUnits="userSpaceOnUse" x1="95.8" y1="32.6" x2="74" y2="105.2"><stop offset="0" stop-color="#76b3e1"/><stop offset=".5" stop-color="#4377bb"/><stop offset="1" stop-color="#1f3b77"/></linearGradient><linearGradient id="c" gradientUnits="userSpaceOnUse" x1="18.4" y1="64.2" x2="144.3" y2="149.8"><stop offset="0" stop-color="#315aa9"/><stop offset=".5" stop-color="#518ac8"/><stop offset="1" stop-color="#315aa9"/></linearGradient><linearGradient id="d" gradientUnits="userSpaceOnUse" x1="75.2" y1="74.5" x2="24.4" y2="260.8"><stop offset="0" stop-color="#4377bb"/><stop offset=".5" stop-color="#1a336b"/><stop offset="1" stop-color="#1a336b"/></linearGradient></defs><path d="M163 35S110-4 69 5l-3 1c-6 2-11 5-14 9l-2 3-15 26 26 5c11 7 25 10 38 7l46 9 18-30z" fill="#76b3e1"/><path d="M163 35S110-4 69 5l-3 1c-6 2-11 5-14 9l-2 3-15 26 26 5c11 7 25 10 38 7l46 9 18-30z" opacity=".3" fill="url(#a)"/><path d="M52 35l-4 1c-17 5-22 21-13 35 10 13 31 20 48 15l62-21S92 26 52 35z" fill="#518ac8"/><path d="M52 35l-4 1c-17 5-22 21-13 35 10 13 31 20 48 15l62-21S92 26 52 35z" opacity=".3" fill="url(#b)"/><path d="M134 80a45 45 0 00-48-15L24 85 4 120l112 19 20-36c4-7 3-15-2-23z" fill="url(#c)"/><path d="M114 115a45 45 0 00-48-15L4 120s53 40 94 30l3-1c17-5 23-21 13-34z" fill="url(#d)"/></svg>
									<div class="absolute bottom-0 flex-col items-center hidden mb-6 group-hover:flex">
										<span class="relative z-10 p-3 text-xs leading-none rounded-lg text-white whitespace-no-wrap bg-gradient-to-r from-primary-800 to-secondary-600 shadow-lg">
											Solidjs
										</span>
									</div>
								</div>
								<div class="group cursor-pointer relative inline-block text-center">
									<img src="https://cdn.sanity.io/images/o0o2tn5x/production/875e1f1f8c86f6a071299af6e0a8af1893d9cabc-908x908.png" width="100%" alt="PlanetScale" />
									<div class="absolute bottom-0 flex-col items-center hidden mb-6 group-hover:flex">
										<span class="relative z-10 p-3 text-xs leading-none rounded-lg text-white whitespace-no-wrap bg-gradient-to-r from-primary-800 to-secondary-600 shadow-lg">
											PlanetScale
										</span>
									</div>
								</div>
								<div class="group cursor-pointer relative inline-block text-center">
									<img src="https://avatars.githubusercontent.com/u/108468352?s=200&v=4" width="100%" alt="DrizzleORM" />
									<div class="absolute bottom-0 flex-col items-center hidden mb-6 group-hover:flex">
										<span class="relative z-10 p-3 text-xs leading-none rounded-lg text-white whitespace-no-wrap bg-gradient-to-r from-primary-800 to-secondary-600 shadow-lg">
											DrizzleORM
										</span>
									</div>
								</div>
								<div class="group cursor-pointer relative inline-block text-center">
									<img src="https://www.chartjs.org/img/chartjs-logo.svg" width="100%" alt="ChartJS" />
									<div class="absolute bottom-0 flex-col items-center hidden mb-6 group-hover:flex">
										<span class="relative z-10 p-3 text-xs leading-none rounded-lg text-white whitespace-no-wrap bg-gradient-to-r from-primary-800 to-secondary-600 shadow-lg">
											ChartJS
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="relative flex h-full flex-col p-2">
				<div class="mockup-window border bg-zinc-900 text-slate-100 dark:text-black">
					<Image
						class="flex justify-center w-full object-cover object-center rounded-lg shadow-md"
						src={import('~/assets/images/mealmentor_thumb.webp')}
						widths={[377, 516, 688, 900]}
						sizes="100vw"
						alt="MealMentor"
						aspectRatio="auto:auto"
					/>
				  </div>
				<div class="relative px-4 -mt-16">
					<div class="bg-white dark:bg-slate-900 p-6 rounded-lg shadow-xl">
						<div class="mb-6 mt-1">
							<h3 class="mb-4 text-3xl font-bold">MealMentor</h3>
							<a
								class="btn text-white border border-primary-600 bg-primary-600 hover:bg-primary-800 hover:border-primary-800 mb-4"
								href="https://mymealmentor.vercel.app/"
								target="_blank"
							>
								<Icon name="tabler:tools-kitchen-2" class="w-5 h-5 mr-1 -ml-1.5" /> Live Demo
							</a>
							<a
								class="btn text-white border bg-gray-900 hover:bg-gray-700 dark:bg-gray-700 dark:hover:bg-gray-800 mb-4"
								href="https://github.com/mtlh/mealmentor"
								target="_blank"
							>
								<Icon name="tabler:brand-github" class="w-5 h-5 mr-1 -ml-1.5" /> Github
							</a>
							<p class="mb-4">
								Search for recipes and generate instructions/ingredients, taste and more. Built in a hackathon for exploring how chatGPT is useful in business applications.
							</p>
							<div class="grid max-w-none grid-cols-7 lg:grid-cols-8 sm:flex-row sm:justify-center gap-4">
								<div class="group cursor-pointer relative inline-block text-center">
									<img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/tailwindcss/tailwindcss-plain.svg" width="100%" alt="Tailwind" />
									<div class="absolute bottom-0 flex-col items-center hidden mb-6 group-hover:flex">
										<span class="relative z-10 p-3 text-xs leading-none rounded-lg text-white whitespace-no-wrap bg-gradient-to-r from-primary-800 to-secondary-600 shadow-lg">
											Tailwind
										</span>
									</div>
								</div>
								<div class="group cursor-pointer relative inline-block text-center">
									<img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-original.svg" width="100%" alt="TypeScript" />
									<div class="absolute bottom-0 flex-col items-center hidden mb-6 group-hover:flex">
										<span class="relative z-10 p-3 text-xs leading-none rounded-lg text-white whitespace-no-wrap bg-gradient-to-r from-primary-800 to-secondary-600 shadow-lg">
											TypeScript
										</span>
									</div>
								</div>
								<div class="group cursor-pointer relative inline-block text-center">
									<img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg" width="100%" alt="React" />
									<div class="absolute bottom-0 flex-col items-center hidden mb-6 group-hover:flex">
										<span class="relative z-10 p-3 text-xs leading-none rounded-lg text-white whitespace-no-wrap bg-gradient-to-r from-primary-800 to-secondary-600 shadow-lg">
											React
										</span>
									</div>
								</div>
								<div class="group cursor-pointer relative inline-block text-center">
									<img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nextjs/nextjs-line.svg" width="100%" alt="Nextjs" />
									<div class="absolute bottom-0 flex-col items-center hidden mb-6 group-hover:flex">
										<span class="relative z-10 p-3 text-xs leading-none rounded-lg text-white whitespace-no-wrap bg-gradient-to-r from-primary-800 to-secondary-600 shadow-lg">
											Nextjs
										</span>
									</div>
								</div>
								<div class="group cursor-pointer relative inline-block text-center">
									<svg xmlns="http://www.w3.org/2000/svg" width="90%" height="auto" viewBox="0 0 256 285"><path fill="#eb5424" d="M220.412 0h-92.415l28.562 89.006h92.416l-74.77 53.077l28.57 89.511c48.128-35.06 63.854-88.12 46.208-142.588L220.413 0ZM7.018 89.006h92.416L127.997 0H35.589L7.019 89.006c-17.655 54.468-1.92 107.529 46.207 142.588l28.563-89.51l-74.77-53.078Zm46.208 142.588l74.77 52.97l74.77-52.97l-74.77-53.847l-74.77 53.847Z"/></svg>
									<div class="absolute bottom-0 flex-col items-center hidden mb-6 group-hover:flex">
										<span class="relative z-10 p-3 text-xs leading-none rounded-lg text-white whitespace-no-wrap bg-gradient-to-r from-primary-800 to-secondary-600 shadow-lg">
											Auth0
										</span>
									</div>
								</div>
								<div class="group cursor-pointer relative inline-block text-center">
									<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="auto" viewBox="0 0 24 24" color="#2596BE"><path fill="currentColor" d="M24 12c0 6.62-5.38 12-12 12S0 18.62 0 12S5.38 0 12 0s12 5.38 12 12ZM1.21 12A10.78 10.78 0 0 0 12 22.79A10.78 10.78 0 0 0 22.79 12A10.78 10.78 0 0 0 12 1.21A10.78 10.78 0 0 0 1.21 12Zm10.915-6.086l2.162 1.248a.25.25 0 0 1 .125.217v1.103l2.473 1.428a.25.25 0 0 1 .125.217v2.355l.955.551a.25.25 0 0 1 .125.217v2.496a.25.25 0 0 1-.125.217l-2.162 1.248a.25.25 0 0 1-.25 0l-.956-.552l-2.472 1.427a.25.25 0 0 1-.25 0l-2.472-1.427l-.956.552a.25.25 0 0 1-.25 0l-2.162-1.248a.25.25 0 0 1-.125-.217V13.25a.25.25 0 0 1 .125-.217l.955-.551v-2.355a.25.25 0 0 1 .125-.217l2.473-1.428V7.38a.25.25 0 0 1 .125-.217l2.162-1.248a.25.25 0 0 1 .25 0Zm1.268 10.049a.25.25 0 0 1-.125-.217V13.25a.25.25 0 0 1 .125-.217l2.16-1.248a.25.25 0 0 1 .25 0l.707.408v-1.922l-2.098-1.21v.814a.25.25 0 0 1-.125.217l-2.162 1.248a.25.25 0 0 1-.25 0l-2.162-1.248a.25.25 0 0 1-.125-.217V9.06L7.49 10.271v1.922l.707-.408a.25.25 0 0 1 .25 0l2.16 1.248a.25.25 0 0 1 .125.217v2.496a.25.25 0 0 1-.125.217l-.705.408L12 17.582l2.098-1.211ZM10.088 9.73l1.662.96V8.766l-1.662-.955Zm3.824 0V7.811l-1.662.955v1.924ZM12 6.418l-1.66.96l1.66.954l1.66-.954Zm-5.59 9.184l1.66.958v-1.921l-1.66-.956Zm3.822 0v-1.92l-1.662.957v1.923Zm-1.91-3.311l-1.662.96l1.661.955l1.66-.956Zm5.446 3.31l1.66.96v-1.922l-1.66-.956Zm3.822 0v-1.918l-1.662.956v1.922Zm-1.912-3.31l-1.66.96l1.66.955l1.66-.956Z"/></svg>
									<div class="absolute bottom-0 flex-col items-center hidden mb-6 group-hover:flex">
										<span class="relative z-10 p-3 text-xs leading-none rounded-lg text-white whitespace-no-wrap bg-gradient-to-r from-primary-800 to-secondary-600 shadow-lg">
											tRPC
										</span>
									</div>
								</div>
								<div class="group cursor-pointer relative inline-block text-center">
									<img src="https://cdn.sanity.io/images/o0o2tn5x/production/875e1f1f8c86f6a071299af6e0a8af1893d9cabc-908x908.png" width="100%" alt="PlanetScale" />
									<div class="absolute bottom-0 flex-col items-center hidden mb-6 group-hover:flex">
										<span class="relative z-10 p-3 text-xs leading-none rounded-lg text-white whitespace-no-wrap bg-gradient-to-r from-primary-800 to-secondary-600 shadow-lg">
											PlanetScale
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
