---
import Icon from "astro-icon";
import { Image } from '@astrojs/image/components';
---

<section class="bg-primary-100 dark:bg-slate-800" id="projects">
	<div class="px-4 py-8 mx-auto max-w-6xl lg:px-8 lg:py-10">
		<div class="max-w-xl mb-10 md:mx-auto text-center lg:max-w-2xl md:mb-12">
			<p class="text-base text-primary-600 dark:text-primary-200 font-semibold tracking-wide uppercase">Projects</p>
			<h2 class="text-4xl md:text-5xl font-bold leading-tighter tracking-tighter mb-4 font-heading">
				What I have made
			</h2>
			<p class="max-w-3xl mx-auto sm:text-center text-xl text-gray-600 dark:text-slate-400">
				My best fully featured applications.
			</p>
		</div>
		<div class="grid items-stretch gap-6 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 my-12 antialiased">
			<div class="relative flex h-full flex-col p-2">
				<div class="mockup-window border bg-slate-900 text-slate-100 dark:text-black">
					<Image
						class="flex justify-center w-full object-cover object-center rounded-lg shadow-md"
						src={import('~/assets/images/prempredictions_thumb.webp')}
						widths={[377, 516, 688, 900]}
						sizes="100vw"
						alt="PremPredict"
						aspectRatio="auto:auto"
						loading="lazy"
					/>
				</div>
				<div class="relative px-4 -mt-16">
					<div class="bg-white dark:bg-slate-900 p-6 rounded-lg shadow-xl h-80">
						<div class="mb-6 mt-1">
							<h3 class="mb-4 text-3xl font-bold">PremPredict</h3>
							<div class="grid grid-cols-2 gap-x-2">
								<a
									class="btn text-white border border-primary-600 bg-primary-600 hover:bg-primary-800 hover:border-primary-800 mb-4"
									href="https://prempredict.vercel.app/"
									target="_blank"
								>
									<Icon name="tabler:ball-football" class="w-5 h-5 mr-1 -ml-1.5" /> Live
								</a>
								<div
									class="btn text-white border bg-gray-600 hover:bg-gray-600 dark:bg-gray-600 dark:hover:bg-gray-800 mb-4"																		
								>
									<!-- https://github.com/mtlh/FinalYearProject_PremPredict private for now -->
									<Icon name="tabler:lock" class="w-5 h-5 mr-1 -ml-1.5" /> Github
								</div>
							</div>
							<p class="mb-4">
								University final year project; predict upcoming Premier League fixtures per gameweek and directly compare scores across the league season.
							</p>
							<div class="grid max-w-none grid-cols-6 lg:grid-cols-8 sm:flex-row sm:justify-center gap-4">
								<div class="group cursor-pointer relative inline-block text-center">
									<img loading="lazy" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/tailwindcss/tailwindcss-original.svg" width="100%" alt="Tailwind" />
									<div class="absolute bottom-0 flex-col items-center hidden mb-6 group-hover:flex">
										<span class="relative z-10 p-3 text-xs leading-none rounded-lg text-white whitespace-no-wrap bg-gradient-to-r from-blue-500 to-blue-600 shadow-lg">
											Tailwind
										</span>
									</div>
								</div>
								<div class="group cursor-pointer relative inline-block text-center">
									<svg viewBox="0 0 128 128"><path d="M59.448 0h20.93v96.88c-10.737 2.04-18.62 2.855-27.181 2.855-25.551-.001-38.87-11.551-38.87-33.705 0-21.338 14.135-35.2 36.015-35.2 3.398 0 5.98.272 9.106 1.087zm0 48.765c-2.446-.815-4.485-1.086-7.067-1.086-10.6 0-16.717 6.523-16.717 17.939 0 11.145 5.845 17.26 16.582 17.26 2.309 0 4.212-.136 7.202-.542z"></path><path d="M113.672 32.321V80.84c0 16.717-1.224 24.735-4.893 31.666-3.398 6.661-7.883 10.873-17.124 15.494l-19.435-9.241c9.242-4.35 13.726-8.153 16.58-14 2.99-5.979 3.943-12.91 3.943-31.122V32.321zM92.742.111h20.93v21.474h-20.93z"></path></svg>
									<div class="absolute bottom-0 flex-col items-center hidden mb-6 group-hover:flex">
										<span class="relative z-10 p-3 text-xs leading-none rounded-lg text-white whitespace-no-wrap bg-gradient-to-r from-blue-500 to-blue-600 shadow-lg">
											Django
										</span>
									</div>
								</div>
								<div class="group cursor-pointer relative inline-block text-center">
									<svg viewBox="0 0 128 128"><linearGradient id="python-original-a" gradientUnits="userSpaceOnUse" x1="70.252" y1="1237.476" x2="170.659" y2="1151.089" gradientTransform="matrix(.563 0 0 -.568 -29.215 707.817)"><stop offset="0" stop-color="#5A9FD4"></stop><stop offset="1" stop-color="#306998"></stop></linearGradient><linearGradient id="python-original-b" gradientUnits="userSpaceOnUse" x1="209.474" y1="1098.811" x2="173.62" y2="1149.537" gradientTransform="matrix(.563 0 0 -.568 -29.215 707.817)"><stop offset="0" stop-color="#FFD43B"></stop><stop offset="1" stop-color="#FFE873"></stop></linearGradient><path fill="url(#python-original-a)" d="M63.391 1.988c-4.222.02-8.252.379-11.8 1.007-10.45 1.846-12.346 5.71-12.346 12.837v9.411h24.693v3.137H29.977c-7.176 0-13.46 4.313-15.426 12.521-2.268 9.405-2.368 15.275 0 25.096 1.755 7.311 5.947 12.519 13.124 12.519h8.491V67.234c0-8.151 7.051-15.34 15.426-15.34h24.665c6.866 0 12.346-5.654 12.346-12.548V15.833c0-6.693-5.646-11.72-12.346-12.837-4.244-.706-8.645-1.027-12.866-1.008zM50.037 9.557c2.55 0 4.634 2.117 4.634 4.721 0 2.593-2.083 4.69-4.634 4.69-2.56 0-4.633-2.097-4.633-4.69-.001-2.604 2.073-4.721 4.633-4.721z" transform="translate(0 10.26)"></path><path fill="url(#python-original-b)" d="M91.682 28.38v10.966c0 8.5-7.208 15.655-15.426 15.655H51.591c-6.756 0-12.346 5.783-12.346 12.549v23.515c0 6.691 5.818 10.628 12.346 12.547 7.816 2.297 15.312 2.713 24.665 0 6.216-1.801 12.346-5.423 12.346-12.547v-9.412H63.938v-3.138h37.012c7.176 0 9.852-5.005 12.348-12.519 2.578-7.735 2.467-15.174 0-25.096-1.774-7.145-5.161-12.521-12.348-12.521h-9.268zM77.809 87.927c2.561 0 4.634 2.097 4.634 4.692 0 2.602-2.074 4.719-4.634 4.719-2.55 0-4.633-2.117-4.633-4.719 0-2.595 2.083-4.692 4.633-4.692z" transform="translate(0 10.26)"></path><radialGradient id="python-original-c" cx="1825.678" cy="444.45" r="26.743" gradientTransform="matrix(0 -.24 -1.055 0 532.979 557.576)" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#B8B8B8" stop-opacity=".498"></stop><stop offset="1" stop-color="#7F7F7F" stop-opacity="0"></stop></radialGradient><path opacity=".444" fill="url(#python-original-c)" d="M97.309 119.597c0 3.543-14.816 6.416-33.091 6.416-18.276 0-33.092-2.873-33.092-6.416 0-3.544 14.815-6.417 33.092-6.417 18.275 0 33.091 2.872 33.091 6.417z"></path></svg>
									<div class="absolute bottom-0 flex-col items-center hidden mb-6 group-hover:flex">
										<span class="relative z-10 p-3 text-xs leading-none rounded-lg text-white whitespace-no-wrap bg-gradient-to-r from-blue-500 to-blue-600 shadow-lg">
											Python
										</span>
									</div>
								</div>
								<div class="group cursor-pointer relative inline-block text-center">
									<img loading="lazy" src="https://cdn.worldvectorlogo.com/logos/cockroachdb.svg" width="100%" alt="CockroachDB" />
									<div class="absolute bottom-0 flex-col items-center hidden mb-6 group-hover:flex">
										<span class="relative z-10 p-3 text-xs leading-none rounded-lg text-white whitespace-no-wrap bg-gradient-to-r from-blue-500 to-blue-600 shadow-lg">
											CockroachDB
										</span>
									</div>
								</div>
								<div class="group cursor-pointer relative inline-block text-center">
									<Image
										class=""
										src={import('~/assets/images/htmx_icon.webp')}
										widths={[377, 516, 688, 900]}
										sizes="100vw"
										alt="HTMX Icon"
										aspectRatio="auto:auto"
										loading="lazy"
									/>
									<div class="absolute bottom-0 flex-col items-center hidden mb-6 group-hover:flex">
										<span class="relative z-10 p-3 text-xs leading-none rounded-lg text-white whitespace-no-wrap bg-gradient-to-r from-blue-500 to-blue-600 shadow-lg">
											HTMX
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="relative flex h-full flex-col p-2">
				<div class="mockup-window border bg-slate-100 text-slate-900 dark:text-black">
					<Image
						class="flex justify-center w-full object-cover object-center rounded-lg shadow-md"
						src={import('~/assets/images/spoura_portfolio.webp')}
						widths={[377, 516, 688, 900]}
						sizes="100vw"
						alt="Spoura"
						aspectRatio="auto:auto"
						loading="lazy"
					/>
				  </div>
				<div class="relative px-4 -mt-16">
					<div class="bg-white dark:bg-slate-900 p-6 rounded-lg shadow-xl h-80">
						<div class="mb-6 mt-1">
							<h3 class="mb-4 text-3xl font-bold">Spoura</h3>
							<div class="grid grid-cols-2 gap-x-2">
								<a
									class="btn text-white border border-primary-600 bg-primary-600 hover:bg-primary-800 hover:border-primary-800 mb-4"
									href="https://spoura-frontend.vercel.app/"
									target="_blank"
								>
									<Icon name="tabler:basket" class="w-5 h-5 mr-1 -ml-1.5" /> Live
								</a>
								<a
									class="btn text-white border bg-gray-900 hover:bg-gray-700 dark:bg-gray-700 dark:hover:bg-gray-800 mb-4"
									href="https://github.com/mtlh/SpouraPreactGo"
									target="_blank"
								>
									<Icon name="tabler:brand-github" class="w-5 h-5 mr-1 -ml-1.5" /> Github
								</a>
							</div>
							<p class="mb-4">
								Fully featured ecommerce application, favourite and add shoes to your cart. Sort products using price, brand, type and search for your preferred fit.
							</p>
							<div class="grid max-w-none grid-cols-6 lg:grid-cols-8 sm:flex-row sm:justify-center gap-4">
								<div class="group cursor-pointer relative inline-block text-center">
									<img loading="lazy" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/tailwindcss/tailwindcss-original.svg" width="100%" alt="Tailwind" />
									<div class="absolute bottom-0 flex-col items-center hidden mb-6 group-hover:flex">
										<span class="relative z-10 p-3 text-xs leading-none rounded-lg text-white whitespace-no-wrap bg-gradient-to-r from-blue-500 to-blue-600 shadow-lg">
											Tailwind
										</span>
									</div>
								</div>
								<div class="group cursor-pointer relative inline-block text-center">
									<img loading="lazy" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-original.svg" width="100%" alt="TypeScript" />
									<div class="absolute bottom-0 flex-col items-center hidden mb-6 group-hover:flex">
										<span class="relative z-10 p-3 text-xs leading-none rounded-lg text-white whitespace-no-wrap bg-gradient-to-r from-blue-500 to-blue-600 shadow-lg">
											TypeScript
										</span>
									</div>
								</div>
								<div class="group cursor-pointer relative inline-block text-center">
									<img loading="lazy" src="https://preactjs.com/branding/symbol.svg" width="100%" alt="Svelte" />
									<div class="absolute bottom-0 flex-col items-center hidden mb-6 group-hover:flex">
										<span class="relative z-10 p-3 text-xs leading-none rounded-lg text-white whitespace-no-wrap bg-gradient-to-r from-blue-500 to-blue-600 shadow-lg">
											Preact
										</span>
									</div>
								</div>
								<div class="group cursor-pointer relative inline-block text-center">
									<svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" fill="none"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><title>file_type_vite</title><path d="M29.8836 6.146L16.7418 29.6457c-.2714.4851-.9684.488-1.2439.0052L2.0956 6.1482c-.3-.5262.1498-1.1635.746-1.057l13.156 2.3516a.7144.7144 0 00.2537-.0004l12.8808-2.3478c.5942-.1083 1.0463.5241.7515 1.0513z" fill="url(#paint0_linear)"></path><path d="M22.2644 2.0069l-9.7253 1.9056a.3571.3571 0 00-.2879.3294l-.5982 10.1038c-.014.238.2045.4227.4367.3691l2.7077-.6248c.2534-.0585.4823.1647.4302.4194l-.8044 3.9393c-.0542.265.1947.4918.4536.4132l1.6724-.5082c.2593-.0787.5084.1487.4536.414l-1.2784 6.1877c-.08.387.4348.598.6495.2662L16.5173 25 24.442 9.1848c.1327-.2648-.096-.5667-.387-.5106l-2.787.5379c-.262.0505-.4848-.1934-.4109-.4497l1.8191-6.306c.074-.2568-.1496-.5009-.4118-.4495z" fill="url(#paint1_linear)"></path><defs id="defs50"><linearGradient id="paint0_linear" x1="6.0002" y1="32.9999" x2="235" y2="344" gradientUnits="userSpaceOnUse" gradientTransform="matrix(.07142 0 0 .07142 1.3398 1.8944)"><stop stop-color="#41D1FF" id="stop38"></stop><stop offset="1" stop-color="#BD34FE" id="stop40"></stop></linearGradient><linearGradient id="paint1_linear" x1="194.651" y1="8.8182" x2="236.076" y2="292.989" gradientUnits="userSpaceOnUse" gradientTransform="matrix(.07142 0 0 .07142 1.3398 1.8944)"><stop stop-color="#FFEA83" id="stop43"></stop><stop offset=".0833" stop-color="#FFDD35" id="stop45"></stop><stop offset="1" stop-color="#FFA800" id="stop47"></stop></linearGradient></defs></g></svg>
									<div class="absolute bottom-0 flex-col items-center hidden mb-6 group-hover:flex">
										<span class="relative z-10 p-3 text-xs leading-none rounded-lg text-white whitespace-no-wrap bg-gradient-to-r from-blue-500 to-blue-600 shadow-lg">
											Vite
										</span>
									</div>
								</div>
								<div class="group cursor-pointer relative inline-block text-center">
									<img loading="lazy" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/go/go-original.svg" width="100%" alt="Prisma" />
									<div class="absolute bottom-0 flex-col items-center hidden mb-6 group-hover:flex">
										<span class="relative z-10 p-3 text-xs leading-none rounded-lg text-white whitespace-no-wrap bg-gradient-to-r from-blue-500 to-blue-600 shadow-lg">
											Go
										</span>
									</div>
								</div>
								<div class="group cursor-pointer relative inline-block text-center">
									<img loading="lazy" src="https://avatars.githubusercontent.com/u/139391156" width="100%" alt="Neon" />
									<div class="absolute bottom-0 flex-col items-center hidden mb-6 group-hover:flex">
										<span class="relative z-10 p-3 text-xs leading-none rounded-lg text-white whitespace-no-wrap bg-gradient-to-r from-blue-500 to-blue-600 shadow-lg">
											Turso
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="relative flex h-full flex-col p-2">
				<div class="mockup-window border bg-zinc-900 text-slate-100 dark:text-black">
					<Image
						class="flex justify-center w-full object-cover object-center rounded-lg shadow-md"
						src={import('~/assets/images/filmfront_thumb.webp')}
						widths={[377, 516, 688, 900]}
						sizes="100vw"
						alt="FilmFront"
						aspectRatio="auto:auto"
						loading="lazy"
					/>
				</div>
				<div class="relative px-4 -mt-16">
					<div class="bg-white dark:bg-slate-900 p-6 rounded-lg shadow-xl h-80">
						<div class="mb-6 mt-1">
							<h3 class="mb-4 text-3xl font-bold">FilmFront</h3>
							<div class="grid grid-cols-2 gap-x-2">
								<a
									class="btn text-white border border-primary-600 bg-primary-600 hover:bg-primary-800 hover:border-primary-800 mb-4"
									href="https://filmfront.vercel.app/"
									target="_blank"
								>
									<Icon name="tabler:movie" class="w-5 h-5 mr-1 -ml-1.5" /> Live
								</a>
								<a
									class="btn text-white border bg-gray-900 hover:bg-gray-700 dark:bg-gray-700 dark:hover:bg-gray-800 mb-4"
									href="https://github.com/mtlh/FilmFront"
									target="_blank"
								>
									<Icon name="tabler:brand-github" class="w-5 h-5 mr-1 -ml-1.5" /> Github
								</a>
							</div>
							<p class="mb-4">
								Movie site made using TMDb API that allows users to search new movies, tv shows and actors,
								 create lists and answer trivia questions.
							</p>
							<div class="grid max-w-none grid-cols-6 lg:grid-cols-8 sm:flex-row sm:justify-center gap-4">
								<div class="group cursor-pointer relative inline-block text-center">
									<img loading="lazy" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/tailwindcss/tailwindcss-original.svg" width="100%" alt="Tailwind" />
									<div class="absolute bottom-0 flex-col items-center hidden mb-6 group-hover:flex">
										<span class="relative z-10 p-3 text-xs leading-none rounded-lg text-white whitespace-no-wrap bg-gradient-to-r from-blue-500 to-blue-600 shadow-lg">
											Tailwind
										</span>
									</div>
								</div>
								<div class="group cursor-pointer relative inline-block text-center">
									<img loading="lazy" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-original.svg" width="100%" alt="TypeScript" />
									<div class="absolute bottom-0 flex-col items-center hidden mb-6 group-hover:flex">
										<span class="relative z-10 p-3 text-xs leading-none rounded-lg text-white whitespace-no-wrap bg-gradient-to-r from-blue-500 to-blue-600 shadow-lg">
											TypeScript
										</span>
									</div>
								</div>
								<div class="group cursor-pointer relative inline-block text-center">
									<img loading="lazy" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg" width="100%" alt="React" />
									<div class="absolute bottom-0 flex-col items-center hidden mb-6 group-hover:flex">
										<span class="relative z-10 p-3 text-xs leading-none rounded-lg text-white whitespace-no-wrap bg-gradient-to-r from-blue-500 to-blue-600 shadow-lg">
											React
										</span>
									</div>
								</div>
								<div class="group cursor-pointer relative inline-block text-center">
									<img loading="lazy" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nextjs/nextjs-original.svg" width="100%" alt="Nextjs" />
									<div class="absolute bottom-0 flex-col items-center hidden mb-6 group-hover:flex">
										<span class="relative z-10 p-3 text-xs leading-none rounded-lg text-white whitespace-no-wrap bg-gradient-to-r from-blue-500 to-blue-600 shadow-lg">
											Nextjs
										</span>
									</div>
								</div>
								<div class="group cursor-pointer relative inline-block text-center">
									<img loading="lazy" src="https://www.vectorlogo.zone/logos/supabase/supabase-icon.svg" width="100%" alt="Bootstrap" />
									<div class="absolute bottom-0 flex-col items-center hidden mb-6 group-hover:flex">
										<span class="relative z-10 p-3 text-xs leading-none rounded-lg text-white whitespace-no-wrap bg-gradient-to-r from-blue-500 to-blue-600 shadow-lg">
											Supabase
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="relative flex h-full flex-col p-2">
				<div class="mockup-window border bg-slate-100 text-slate-900 dark:text-black">
					<Image
						class="flex justify-center w-full object-cover object-center rounded-lg shadow-md"
						src={import('~/assets/images/cronize_thumb.webp')}
						widths={[377, 516, 688, 900]}
						sizes="100vw"
						alt="Cronize"
						aspectRatio="auto:auto"
						loading="lazy"
					/>
				  </div>
				<div class="relative px-4 -mt-16">
					<div class="bg-white dark:bg-slate-900 p-6 rounded-lg shadow-xl h-80">
						<div class="mb-6 mt-1">
							<h3 class="mb-4 text-3xl font-bold">Cronize</h3>
							<div class="grid grid-cols-2 gap-x-2">
								<a
									class="btn text-white border border-primary-600 bg-primary-600 hover:bg-primary-800 hover:border-primary-800 mb-4"
									href="https://cronize.vercel.app/"
									target="_blank"
								>
									<Icon name="tabler:tool" class="w-5 h-5 mr-1 -ml-1.5" /> Live
								</a>
								<a
									class="btn text-white border bg-gray-900 hover:bg-gray-700 dark:bg-gray-700 dark:hover:bg-gray-800 mb-4"
									href="https://github.com/mtlh/cronize"
									target="_blank"
								>
									<Icon name="tabler:brand-github" class="w-5 h-5 mr-1 -ml-1.5" /> Github
								</a>
							</div>
							<p class="mb-4">
								Manage projects, schedule custom cronjobs and view history.
								Try out the request playground to test the output without running on a schedule.
							</p>
							<div class="grid max-w-none grid-cols-7 lg:grid-cols-8 sm:flex-row sm:justify-center gap-4">
								<div class="group cursor-pointer relative inline-block text-center">
									<img loading="lazy" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/tailwindcss/tailwindcss-original.svg" width="100%" alt="Tailwind" />
									<div class="absolute bottom-0 flex-col items-center hidden mb-6 group-hover:flex">
										<span class="relative z-10 p-3 text-xs leading-none rounded-lg text-white whitespace-no-wrap bg-gradient-to-r from-blue-500 to-blue-600 shadow-lg">
											Tailwind
										</span>
									</div>
								</div>
								<div class="group cursor-pointer relative inline-block text-center">
									<img loading="lazy" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-original.svg" width="100%" alt="TypeScript" />
									<div class="absolute bottom-0 flex-col items-center hidden mb-6 group-hover:flex">
										<span class="relative z-10 p-3 text-xs leading-none rounded-lg text-white whitespace-no-wrap bg-gradient-to-r from-blue-500 to-blue-600 shadow-lg">
											TypeScript
										</span>
									</div>
								</div>
								<div class="group cursor-pointer relative inline-block text-center">
									<img loading="lazy" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg" width="100%" alt="React" />
									<div class="absolute bottom-0 flex-col items-center hidden mb-6 group-hover:flex">
										<span class="relative z-10 p-3 text-xs leading-none rounded-lg text-white whitespace-no-wrap bg-gradient-to-r from-blue-500 to-blue-600 shadow-lg">
											React
										</span>
									</div>
								</div>
								<div class="group cursor-pointer relative inline-block text-center">
									<img loading="lazy" src="https://avatars.githubusercontent.com/u/139391156" width="100%" alt="Turso" />
									<div class="absolute bottom-0 flex-col items-center hidden mb-6 group-hover:flex">
										<span class="relative z-10 p-3 text-xs leading-none rounded-lg text-white whitespace-no-wrap bg-gradient-to-r from-blue-500 to-blue-600 shadow-lg">
											Turso
										</span>
									</div>
								</div>
								<div class="group cursor-pointer relative inline-block text-center">
									<img loading="lazy" src="https://astro.build/assets/press/astro-icon-dark.svg" width="100%" alt="Astro" />
									<div class="absolute bottom-0 flex-col items-center hidden mb-6 group-hover:flex">
										<span class="relative z-10 p-3 text-xs leading-none rounded-lg text-white whitespace-no-wrap bg-gradient-to-r from-blue-500 to-blue-600 shadow-lg">
											Astro
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
