---
import Icon from "astro-icon";
import { Image } from '@astrojs/image/components';
---

<section class="scroll-mt-16 bg-primary-100 dark:bg-slate-800" id="projects">
	<div class="px-4 py-16 mx-auto max-w-6xl lg:px-8 lg:py-20">
		<div class="max-w-xl mb-10 md:mx-auto sm:text-center lg:max-w-2xl md:mb-12">
			<p class="text-base text-primary-600 dark:text-primary-200 font-semibold tracking-wide uppercase">Projects</p>
			<h2 class="text-4xl md:text-5xl font-bold leading-tighter tracking-tighter mb-4 font-heading">
				What I have made
			</h2>
			<p class="max-w-3xl mx-auto sm:text-center text-xl text-gray-600 dark:text-slate-400">
				In-depth applications built with a variety of skills as listed below.
			</p>
		</div>
		<div class="grid items-stretch gap-6 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 my-12 antialiased">
			<div class="relative flex h-full flex-col p-2">
				<div class="mockup-window border bg-base-300 dark:bg-slate-800">
					<Image
						class="flex justify-center w-full object-cover object-center rounded-lg shadow-md"
						src={import('~/assets/images/mymovies_portfolio.webp')}
						widths={[377, 516, 688, 900]}
						sizes="100vw"
						alt="MyMovies"
						aspectRatio="auto:auto"
					/>
				</div>
				<div class="relative px-4 -mt-16">
					<div class="bg-white dark:bg-slate-900 p-6 rounded-lg shadow-xl">
						<div class="mb-6 mt-1">
							<h3 class="mb-4 text-3xl font-bold">MyMovies</h3>
							<a
								class="btn text-white border border-primary-600 bg-primary-600 hover:bg-primary-800 hover:border-primary-800 mb-4"
								href="https://moviesmy.vercel.app/"
								target="_blank"
							>
								<Icon name="tabler:movie" class="w-5 h-5 mr-1 -ml-1.5" /> Live Demo
							</a>
							<a
								class="btn text-white border bg-gray-900 hover:bg-gray-700 dark:bg-gray-700 dark:hover:bg-gray-800 mb-4"
								href="https://github.com/Matthew-Harvey/mymovies_next"
								target="_blank"
							>
								<Icon name="tabler:brand-github" class="w-5 h-5 mr-1 -ml-1.5" /> Github
							</a>
							<p class="mb-4">
								Movie site made using TMDb API that allows users to search new movies and actors,
								 create lists and answer trivia questions.
							</p>
							<div class="grid max-w-none grid-cols-8 sm:flex-row sm:justify-center gap-4">
								<div class="group cursor-pointer relative inline-block text-center">
									<img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg" width="100%" alt="HTML" />
									<div class="absolute bottom-0 flex-col items-center hidden mb-6 group-hover:flex">
										<span class="relative z-10 p-3 text-xs leading-none rounded-lg text-white whitespace-no-wrap bg-gradient-to-r from-primary-800 to-secondary-600 shadow-lg">
											HTML
										</span>
									</div>
								</div>	
								<div class="group cursor-pointer relative inline-block text-center">
									<img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg" width="100%" alt="CSS" />
									<div class="absolute bottom-0 flex-col items-center hidden mb-6 group-hover:flex">
										<span class="relative z-10 p-3 text-xs leading-none rounded-lg text-white whitespace-no-wrap bg-gradient-to-r from-primary-800 to-secondary-600 shadow-lg">
											CSS
										</span>
									</div>
								</div>
								<div class="group cursor-pointer relative inline-block text-center">
									<img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/tailwindcss/tailwindcss-plain.svg" width="100%" alt="Tailwind" />
									<div class="absolute bottom-0 flex-col items-center hidden mb-6 group-hover:flex">
										<span class="relative z-10 p-3 text-xs leading-none rounded-lg text-white whitespace-no-wrap bg-gradient-to-r from-primary-800 to-secondary-600 shadow-lg">
											Tailwind
										</span>
									</div>
								</div>
								<div class="group cursor-pointer relative inline-block text-center">
									<img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-original.svg" width="100%" alt="TypeScript" />
									<div class="absolute bottom-0 flex-col items-center hidden mb-6 group-hover:flex">
										<span class="relative z-10 p-3 text-xs leading-none rounded-lg text-white whitespace-no-wrap bg-gradient-to-r from-primary-800 to-secondary-600 shadow-lg">
											TypeScript
										</span>
									</div>
								</div>
								<div class="group cursor-pointer relative inline-block text-center">
									<img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg" width="100%" alt="React" />
									<div class="absolute bottom-0 flex-col items-center hidden mb-6 group-hover:flex">
										<span class="relative z-10 p-3 text-xs leading-none rounded-lg text-white whitespace-no-wrap bg-gradient-to-r from-primary-800 to-secondary-600 shadow-lg">
											React
										</span>
									</div>
								</div>
								<div class="group cursor-pointer relative inline-block text-center">
									<img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nextjs/nextjs-line.svg" width="100%" alt="Nextjs" />
									<div class="absolute bottom-0 flex-col items-center hidden mb-6 group-hover:flex">
										<span class="relative z-10 p-3 text-xs leading-none rounded-lg text-white whitespace-no-wrap bg-gradient-to-r from-primary-800 to-secondary-600 shadow-lg">
											Nextjs
										</span>
									</div>
								</div>
								<div class="group cursor-pointer relative inline-block text-center">
									<img src="https://www.vectorlogo.zone/logos/supabase/supabase-icon.svg" width="100%" alt="Bootstrap" />
									<div class="absolute bottom-0 flex-col items-center hidden mb-6 group-hover:flex">
										<span class="relative z-10 p-3 text-xs leading-none rounded-lg text-white whitespace-no-wrap bg-gradient-to-r from-primary-800 to-secondary-600 shadow-lg">
											Supabase
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="relative flex h-full flex-col p-2">
				<div class="mockup-window border bg-base-300 dark:bg-slate-800">
					<Image
						class="flex justify-center w-full object-cover object-center rounded-lg shadow-md"
						src={import('~/assets/images/spoura.webp')}
						widths={[377, 516, 688, 900]}
						sizes="100vw"
						alt="Spoura"
						aspectRatio="auto:auto"
					/>
				  </div>
				<div class="relative px-4 -mt-16">
					<div class="bg-white dark:bg-slate-900 p-6 rounded-lg shadow-xl">
						<div class="mb-6 mt-1">
							<h3 class="mb-4 text-3xl font-bold">Spoura</h3>
							<a
								class="btn text-white border border-primary-600 bg-primary-600 hover:bg-primary-800 hover:border-primary-800 mb-4"
								href="https://spoura.vercel.app/"
								target="_blank"
							>
								<Icon name="tabler:basket" class="w-5 h-5 mr-1 -ml-1.5" /> Live Demo
							</a>
							<a
								class="btn text-white border bg-gray-900 hover:bg-gray-700 dark:bg-gray-700 dark:hover:bg-gray-800 mb-4"
								href="https://github.com/Matthew-Harvey/Spoura"
								target="_blank"
							>
								<Icon name="tabler:brand-github" class="w-5 h-5 mr-1 -ml-1.5" /> Github
							</a>
							<p class="mb-4">
								Ecommerce store that allows users to add items into a cart and montiors stock levels. Add and remove new products etc.
							</p>
							<div class="grid max-w-none grid-cols-8 sm:flex-row sm:justify-center gap-4">
								<div class="group cursor-pointer relative inline-block text-center">
									<img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg" width="100%" alt="HTML" />
									<div class="absolute bottom-0 flex-col items-center hidden mb-6 group-hover:flex">
										<span class="relative z-10 p-3 text-xs leading-none rounded-lg text-white whitespace-no-wrap bg-gradient-to-r from-primary-800 to-secondary-600 shadow-lg">
											HTML
										</span>
									</div>
								</div>	
								<div class="group cursor-pointer relative inline-block text-center">
									<img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg" width="100%" alt="CSS" />
									<div class="absolute bottom-0 flex-col items-center hidden mb-6 group-hover:flex">
										<span class="relative z-10 p-3 text-xs leading-none rounded-lg text-white whitespace-no-wrap bg-gradient-to-r from-primary-800 to-secondary-600 shadow-lg">
											CSS
										</span>
									</div>
								</div>
								<div class="group cursor-pointer relative inline-block text-center">
									<img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/tailwindcss/tailwindcss-plain.svg" width="100%" alt="Tailwind" />
									<div class="absolute bottom-0 flex-col items-center hidden mb-6 group-hover:flex">
										<span class="relative z-10 p-3 text-xs leading-none rounded-lg text-white whitespace-no-wrap bg-gradient-to-r from-primary-800 to-secondary-600 shadow-lg">
											Tailwind
										</span>
									</div>
								</div>
								<div class="group cursor-pointer relative inline-block text-center">
									<img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-original.svg" width="100%" alt="TypeScript" />
									<div class="absolute bottom-0 flex-col items-center hidden mb-6 group-hover:flex">
										<span class="relative z-10 p-3 text-xs leading-none rounded-lg text-white whitespace-no-wrap bg-gradient-to-r from-primary-800 to-secondary-600 shadow-lg">
											TypeScript
										</span>
									</div>
								</div>
								<div class="group cursor-pointer relative inline-block text-center">
									<img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/svelte/svelte-original.svg" width="100%" alt="JavaScript" />
									<div class="absolute bottom-0 flex-col items-center hidden mb-6 group-hover:flex">
										<span class="relative z-10 p-3 text-xs leading-none rounded-lg text-white whitespace-no-wrap bg-gradient-to-r from-primary-800 to-secondary-600 shadow-lg">
											Svelte
										</span>
									</div>
								</div>
								<div class="group cursor-pointer relative inline-block text-center">
									<img src="https://raw.githubusercontent.com/prisma/presskit/main/Assets/Prisma-DarkSymbol.svg" width="85%" alt="Prisma" />
									<div class="absolute bottom-0 flex-col items-center hidden mb-6 group-hover:flex">
										<span class="relative z-10 p-3 text-xs leading-none rounded-lg text-white whitespace-no-wrap bg-gradient-to-r from-primary-800 to-secondary-600 shadow-lg">
											Prisma
										</span>
									</div>
								</div>
								<div class="group cursor-pointer relative inline-block text-center">
									<img src="https://cdn.sanity.io/images/o0o2tn5x/production/875e1f1f8c86f6a071299af6e0a8af1893d9cabc-908x908.png" width="100%" alt="Prisma" />
									<div class="absolute bottom-0 flex-col items-center hidden mb-6 group-hover:flex">
										<span class="relative z-10 p-3 text-xs leading-none rounded-lg text-white whitespace-no-wrap bg-gradient-to-r from-primary-800 to-secondary-600 shadow-lg">
											PlanetScale
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="relative flex h-full flex-col p-2">
				<div class="mockup-window border bg-base-300 dark:bg-slate-800">
					<Image
						class="flex justify-center w-full object-cover object-center rounded-lg shadow-md"
						src={import('~/assets/images/issuetrack_portfolio.webp')}
						widths={[377, 516, 688, 900]}
						sizes="100vw"
						alt="IssueTrack"
						aspectRatio="auto:auto"
					/>
				</div>
				<div class="relative px-4 -mt-16">
					<div class="bg-white dark:bg-slate-900 p-6 rounded-lg shadow-xl">
						<div class="mb-6 mt-1">
							<h3 class="mb-4 text-3xl font-bold">IssueTrack</h3>
							<a
								class="btn text-white border border-primary-600 bg-primary-600 hover:bg-primary-800 hover:border-primary-800 mb-4"
								href="https://issuetrack.vercel.app/"
								target="_blank"
							>
								<Icon name="tabler:bug" class="w-5 h-5 mr-1 -ml-1.5" /> Live Demo
							</a>
							<a
								class="btn text-white border bg-gray-900 hover:bg-gray-700 dark:bg-gray-700 dark:hover:bg-gray-800 mb-4"
								href="https://github.com/Matthew-Harvey/IssueTrack"
								target="_blank"
							>
								<Icon name="tabler:brand-github" class="w-5 h-5 mr-1 -ml-1.5" /> Github
							</a>
							<p class="mb-4">
								This project was made to demonstrate a variety of skills by producing
								 a full stack app that allows users + teams to collaborate on issues within their systems.
							</p>
							<div class="grid max-w-none grid-cols-8 sm:flex-row sm:justify-center gap-4">
								<div class="group cursor-pointer relative inline-block text-center">
									<img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg" width="100%" alt="HTML" />
									<div class="absolute bottom-0 flex-col items-center hidden mb-6 group-hover:flex">
										<span class="relative z-10 p-3 text-xs leading-none rounded-lg text-white whitespace-no-wrap bg-gradient-to-r from-primary-800 to-secondary-600 shadow-lg">
											HTML
										</span>
									</div>
								</div>	
								<div class="group cursor-pointer relative inline-block text-center">
									<img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg" width="100%" alt="CSS" />
									<div class="absolute bottom-0 flex-col items-center hidden mb-6 group-hover:flex">
										<span class="relative z-10 p-3 text-xs leading-none rounded-lg text-white whitespace-no-wrap bg-gradient-to-r from-primary-800 to-secondary-600 shadow-lg">
											CSS
										</span>
									</div>
								</div>
								<div class="group cursor-pointer relative inline-block text-center">
									<img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/materialui/materialui-original.svg" width="100%" alt="MaterialUI" />
									<div class="absolute bottom-0 flex-col items-center hidden mb-6 group-hover:flex">
										<span class="relative z-10 p-3 text-xs leading-none rounded-lg text-white whitespace-no-wrap bg-gradient-to-r from-primary-800 to-secondary-600 shadow-lg">
											MaterialUI
										</span>
									</div>
								</div>
								<div class="group cursor-pointer relative inline-block text-center">
									<img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-original.svg" width="100%" alt="TypeScript" />
									<div class="absolute bottom-0 flex-col items-center hidden mb-6 group-hover:flex">
										<span class="relative z-10 p-3 text-xs leading-none rounded-lg text-white whitespace-no-wrap bg-gradient-to-r from-primary-800 to-secondary-600 shadow-lg">
											TypeScript
										</span>
									</div>
								</div>
								<div class="group cursor-pointer relative inline-block text-center">
									<img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg" width="100%" alt="React" />
									<div class="absolute bottom-0 flex-col items-center hidden mb-6 group-hover:flex">
										<span class="relative z-10 p-3 text-xs leading-none rounded-lg text-white whitespace-no-wrap bg-gradient-to-r from-primary-800 to-secondary-600 shadow-lg">
											React
										</span>
									</div>
								</div>
								<div class="group cursor-pointer relative inline-block text-center">
									<img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nextjs/nextjs-line.svg" width="100%" alt="Nextjs" />
									<div class="absolute bottom-0 flex-col items-center hidden mb-6 group-hover:flex">
										<span class="relative z-10 p-3 text-xs leading-none rounded-lg text-white whitespace-no-wrap bg-gradient-to-r from-primary-800 to-secondary-600 shadow-lg">
											Nextjs
										</span>
									</div>
								</div>
								<div class="group cursor-pointer relative inline-block text-center">
									<img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/firebase/firebase-plain.svg" width="100%" alt="Firebase" />
									<div class="absolute bottom-0 flex-col items-center hidden mb-6 group-hover:flex">
										<span class="relative z-10 p-3 text-xs leading-none rounded-lg text-white whitespace-no-wrap bg-gradient-to-r from-primary-800 to-secondary-600 shadow-lg">
											Firebase
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="relative flex h-full flex-col p-2">
				<div class="mockup-window border bg-base-300 dark:bg-slate-800">
					<Image
						class="flex justify-center w-full object-cover object-center rounded-lg shadow-md"
						src={import('~/assets/images/mymovies_portfolio.webp')}
						widths={[377, 516, 688, 900]}
						sizes="100vw"
						alt="MHblog"
						aspectRatio="auto:auto"
					/>
				</div>
				<div class="relative px-4 -mt-16">
					<div class="bg-white dark:bg-slate-900 p-6 rounded-lg shadow-xl">
						<div class="mb-6 mt-1">
							<h3 class="mb-4 text-3xl font-bold">IssueTrack</h3>
							<a
								class="btn text-white border border-primary-600 bg-primary-600 hover:bg-primary-800 hover:border-primary-800 mb-4"
								href="https://issuetrack.vercel.app/"
								target="_blank"
							>
								<Icon name="tabler:bug" class="w-5 h-5 mr-1 -ml-1.5" /> Live Demo
							</a>
							<a
								class="btn text-white border bg-gray-900 hover:bg-gray-700 dark:bg-gray-700 dark:hover:bg-gray-800 mb-4"
								href="https://github.com/Matthew-Harvey/IssueTrack"
								target="_blank"
							>
								<Icon name="tabler:brand-github" class="w-5 h-5 mr-1 -ml-1.5" /> Github
							</a>
							<p class="mb-4">
								This project was made to demonstrate a variety of skills by producing
								 a full stack app that allows users + teams to collaborate on issues within their systems.
							</p>
							<div class="grid max-w-none grid-cols-8 sm:flex-row sm:justify-center gap-4">
								<div class="group cursor-pointer relative inline-block text-center">
									<img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg" width="100%" alt="HTML" />
									<div class="absolute bottom-0 flex-col items-center hidden mb-6 group-hover:flex">
										<span class="relative z-10 p-3 text-xs leading-none rounded-lg text-white whitespace-no-wrap bg-gradient-to-r from-primary-800 to-secondary-600 shadow-lg">
											HTML
										</span>
									</div>
								</div>	
								<div class="group cursor-pointer relative inline-block text-center">
									<img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg" width="100%" alt="CSS" />
									<div class="absolute bottom-0 flex-col items-center hidden mb-6 group-hover:flex">
										<span class="relative z-10 p-3 text-xs leading-none rounded-lg text-white whitespace-no-wrap bg-gradient-to-r from-primary-800 to-secondary-600 shadow-lg">
											CSS
										</span>
									</div>
								</div>
								<div class="group cursor-pointer relative inline-block text-center">
									<img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/materialui/materialui-original.svg" width="100%" alt="MaterialUI" />
									<div class="absolute bottom-0 flex-col items-center hidden mb-6 group-hover:flex">
										<span class="relative z-10 p-3 text-xs leading-none rounded-lg text-white whitespace-no-wrap bg-gradient-to-r from-primary-800 to-secondary-600 shadow-lg">
											MaterialUI
										</span>
									</div>
								</div>
								<div class="group cursor-pointer relative inline-block text-center">
									<img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-original.svg" width="100%" alt="TypeScript" />
									<div class="absolute bottom-0 flex-col items-center hidden mb-6 group-hover:flex">
										<span class="relative z-10 p-3 text-xs leading-none rounded-lg text-white whitespace-no-wrap bg-gradient-to-r from-primary-800 to-secondary-600 shadow-lg">
											TypeScript
										</span>
									</div>
								</div>
								<div class="group cursor-pointer relative inline-block text-center">
									<img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg" width="100%" alt="React" />
									<div class="absolute bottom-0 flex-col items-center hidden mb-6 group-hover:flex">
										<span class="relative z-10 p-3 text-xs leading-none rounded-lg text-white whitespace-no-wrap bg-gradient-to-r from-primary-800 to-secondary-600 shadow-lg">
											React
										</span>
									</div>
								</div>
								<div class="group cursor-pointer relative inline-block text-center">
									<img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nextjs/nextjs-line.svg" width="100%" alt="Nextjs" />
									<div class="absolute bottom-0 flex-col items-center hidden mb-6 group-hover:flex">
										<span class="relative z-10 p-3 text-xs leading-none rounded-lg text-white whitespace-no-wrap bg-gradient-to-r from-primary-800 to-secondary-600 shadow-lg">
											Nextjs
										</span>
									</div>
								</div>
								<div class="group cursor-pointer relative inline-block text-center">
									<img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/firebase/firebase-plain.svg" width="100%" alt="Firebase" />
									<div class="absolute bottom-0 flex-col items-center hidden mb-6 group-hover:flex">
										<span class="relative z-10 p-3 text-xs leading-none rounded-lg text-white whitespace-no-wrap bg-gradient-to-r from-primary-800 to-secondary-600 shadow-lg">
											Firebase
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
