<section class="relative">
	<div class="absolute inset-0 bg-primary-100 dark:bg-slate-800 pointer-events-none mb-32" aria-hidden="true"></div>
	<div class="relative max-w-6xl mx-auto px-4 sm:px-6">
		<div class="py-4 pt-8 sm:py-6 lg:py-8 lg:pt-12">
			<div class="mb-8 text-center">
				<p class="text-base text-primary-600 dark:text-primary-200 font-semibold tracking-wide uppercase">Skills</p>
				<h2 class="text-4xl md:text-5xl font-bold leading-tighter tracking-tighter mb-4 font-heading">
					What I Know
				</h2>
				<p class="max-w-3xl mx-auto text-center text-xl text-gray-600 dark:text-slate-400">
					Featuring the skills I have used to build sites. Hover over any icon to learn more...
				</p>
			</div>
			<div class="grid gap-6 md:grid-cols-2 lg:grid-cols-3 items-start my-12 dark:text-white">
				<div class="relative flex flex-col p-6 bg-white dark:bg-slate-900 rounded shadow-xl hover:shadow-lg transition dark:border dark:border-slate-800">
					<div class="flex items-center mb-4">
						<lottie-player class="mx-auto rounded-md w-full" src="https://assets10.lottiefiles.com/packages/lf20_QPxDrKeA3f.json" background="transparent" speed="0.5" style="width: 40%;" loop="" autoplay=""></lottie-player>
						<div class="ml-4 text-2xl font-bold mr-4">Frontend</div>
					</div>
					<p class="text-gray-500 dark:text-gray-400 text-md">
						<li>HTML/CSS/JavaScript</li>
						<li>TypeScript</li>
						<li>React</li>
						<li>Nextjs</li>
						<li>Astro</li>
						<li>Bootstrap/MaterialUI</li>
						<li>Tailwind</li>	
					</p>
				</div>
				<div class="relative flex flex-col p-6 bg-white dark:bg-slate-900 rounded shadow-xl hover:shadow-lg transition dark:border dark:border-slate-900">
					<div class="flex items-center mb-4">
						<lottie-player class="mx-auto rounded-md w-full" src="https://assets1.lottiefiles.com/packages/lf20_yneU269b00.json" background="transparent" speed="0.5" style="width: 40%;" loop="" autoplay=""></lottie-player>
						<div class="ml-4 text-2xl font-bold mr-4">Backend</div>
					</div>
					<p class="text-gray-500 dark:text-gray-400 text-md">
						<li>MySQL</li>
						<li>Prisma</li>
						<li>Python</li>
						<li>Nodejs</li>
						<li>Restful APIs</li>
						<li>Java</li>
						<li>Scala</li>
					</p>
				</div>
				<div class="relative flex flex-col p-6 bg-white dark:bg-slate-900 rounded shadow-xl hover:shadow-lg transition dark:border dark:border-slate-800">
					<div class="flex items-center mb-4">
						<lottie-player class="mx-auto rounded-md w-full" src="https://assets6.lottiefiles.com/packages/lf20_EVx240.json" background="transparent" speed="0.5" style="width: 40%;" loop="" autoplay=""></lottie-player>
						<div class="ml-4 text-2xl font-bold mr-4">Tools</div>
					</div>
					<p class="text-gray-500 dark:text-gray-400 text-md">
						<li>Git</li>
						<li>Netlify/Vercel/Heroku</li>
						<li>NPM</li>
						<li>Webpack</li>
						<li>VS Code</li>
						<li>Visual Studio</li>
						<li>Microsoft suite</li>
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
