<section class="relative" id="skills">
	<div class="absolute inset-0 bg-primary-100 dark:bg-slate-800 pointer-events-none mb-32" aria-hidden="true"></div>
	<div class="relative max-w-6xl mx-auto px-4 sm:px-6">
		<div class="py-4 pt-8 sm:py-6 lg:py-8 lg:pt-12">
			<div class="mb-8 text-center">
				<p class="text-base text-primary-600 dark:text-primary-200 font-semibold tracking-wide uppercase">Skills</p>
				<h2 class="text-4xl md:text-5xl font-bold leading-tighter tracking-tighter mb-4 font-heading">
					What I Know
				</h2>
				<p class="max-w-3xl mx-auto text-center text-xl text-gray-600 dark:text-slate-400">
					Featuring the skills I have used to build sites. Hover over any icon to learn more...
				</p>
			</div>
			<div class="grid items-stretch gap-6 sm:grid-cols-3 md:grid-cols-3 lg:grid-cols-3 my-12 dark:text-white">
				<div class="relative flex h-full flex-col p-6 bg-white dark:bg-slate-900 rounded shadow-xl hover:shadow-lg transition dark:border dark:border-slate-800">
					<div class="flex items-center mb-4">
						<lottie-player class="mx-auto rounded-md w-full" src="https://assets10.lottiefiles.com/packages/lf20_QPxDrKeA3f.json" background="transparent" speed="0.5" style="width: 60%;" loop="" autoplay=""></lottie-player>
						<div class="ml-4 text-2xl font-bold mr-4">Frontend</div>
					</div>
					<div class="grid max-w-none grid-cols-4 sm:flex-row sm:justify-center gap-4">
						<div class="group cursor-pointer relative inline-block text-center">
							<img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg" width="80%" alt="HTML" />
							<div class="absolute bottom-0 flex-col items-center hidden mb-6 group-hover:flex">
								<span class="relative z-10 p-3 text-xs leading-none rounded-lg text-white whitespace-no-wrap bg-gradient-to-r from-primary-800 to-secondary-600 shadow-lg">
									HTML
								</span>
							</div>
						</div>	
						<div class="group cursor-pointer relative inline-block text-center">
							<img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg" width="80%" alt="CSS" />
							<div class="absolute bottom-0 flex-col items-center hidden mb-6 group-hover:flex">
								<span class="relative z-10 p-3 text-xs leading-none rounded-lg text-white whitespace-no-wrap bg-gradient-to-r from-primary-800 to-secondary-600 shadow-lg">
									CSS
								</span>
							</div>
						</div>
						<div class="group cursor-pointer relative inline-block text-center">
							<img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-plain.svg" width="80%" alt="JavaScript" />
							<div class="absolute bottom-0 flex-col items-center hidden mb-6 group-hover:flex">
								<span class="relative z-10 p-3 text-xs leading-none rounded-lg text-white whitespace-no-wrap bg-gradient-to-r from-primary-800 to-secondary-600 shadow-lg">
									JavaScript
								</span>
							</div>
						</div>
						<div class="group cursor-pointer relative inline-block text-center">
							<img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-original.svg" width="80%" alt="TypeScript" />
							<div class="absolute bottom-0 flex-col items-center hidden mb-6 group-hover:flex">
								<span class="relative z-10 p-3 text-xs leading-none rounded-lg text-white whitespace-no-wrap bg-gradient-to-r from-primary-800 to-secondary-600 shadow-lg">
									TypeScript
								</span>
							</div>
						</div>
						<div class="group cursor-pointer relative inline-block text-center">
							<img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg" width="80%" alt="React" />
							<div class="absolute bottom-0 flex-col items-center hidden mb-6 group-hover:flex">
								<span class="relative z-10 p-3 text-xs leading-none rounded-lg text-white whitespace-no-wrap bg-gradient-to-r from-primary-800 to-secondary-600 shadow-lg">
									React
								</span>
							</div>
						</div>
						<div class="group cursor-pointer relative inline-block text-center">
							<img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/tailwindcss/tailwindcss-plain.svg" width="80%" alt="Tailwind" />
							<div class="absolute bottom-0 flex-col items-center hidden mb-6 group-hover:flex">
								<span class="relative z-10 p-3 text-xs leading-none rounded-lg text-white whitespace-no-wrap bg-gradient-to-r from-primary-800 to-secondary-600 shadow-lg">
									Tailwind
								</span>
							</div>
						</div>
						<div class="group cursor-pointer relative inline-block text-center">
							<img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/bootstrap/bootstrap-original.svg" width="80%" alt="Bootstrap" />
							<div class="absolute bottom-0 flex-col items-center hidden mb-6 group-hover:flex">
								<span class="relative z-10 p-3 text-xs leading-none rounded-lg text-white whitespace-no-wrap bg-gradient-to-r from-primary-800 to-secondary-600 shadow-lg">
									Bootstrap
								</span>
							</div>
						</div>
						<div class="group cursor-pointer relative inline-block text-center">
							<img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/materialui/materialui-original.svg" width="80%" alt="MaterialUI" />
							<div class="absolute bottom-0 flex-col items-center hidden mb-6 group-hover:flex">
								<span class="relative z-10 p-3 text-xs leading-none rounded-lg text-white whitespace-no-wrap bg-gradient-to-r from-primary-800 to-secondary-600 shadow-lg">
									MaterialUI
								</span>
							</div>
						</div>
						<div class="group cursor-pointer relative inline-block text-center">
							<img src="https://astro.build/assets/press/logomark-light.svg" width="80%" alt="Astro" />
							<div class="absolute bottom-0 flex-col items-center hidden mb-6 group-hover:flex">
								<span class="relative z-10 p-3 text-xs leading-none rounded-lg text-white whitespace-no-wrap bg-gradient-to-r from-primary-800 to-secondary-600 shadow-lg">
									Astro
								</span>
							</div>
						</div>
						<div class="group cursor-pointer relative inline-block text-center">
							<img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/sass/sass-original.svg" width="80%" alt="Sass" />
							<div class="absolute bottom-0 flex-col items-center hidden mb-6 group-hover:flex">
								<span class="relative z-10 p-3 text-xs leading-none rounded-lg text-white whitespace-no-wrap bg-gradient-to-r from-primary-800 to-secondary-600 shadow-lg">
									SASS
								</span>
							</div>
						</div>
					</div>
				</div>
				<div class="relative flex h-full flex-col p-6 bg-white dark:bg-slate-900 rounded shadow-xl hover:shadow-lg transition dark:border dark:border-slate-900">
					<div class="flex items-center mb-4">
						<lottie-player class="mx-auto rounded-md w-full" src="https://assets1.lottiefiles.com/packages/lf20_yneU269b00.json" background="transparent" speed="0.5" style="width: 60%;" loop="" autoplay=""></lottie-player>
						<div class="ml-4 text-2xl font-bold mr-4">Backend</div>
					</div>
					<div class="grid max-w-none grid-cols-4 sm:flex-row sm:justify-center gap-4">
						<div class="group cursor-pointer relative inline-block text-center">
							<img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mysql/mysql-original.svg" width="80%" alt="mySQL" />
							<div class="absolute bottom-0 flex-col items-center hidden mb-6 group-hover:flex">
								<span class="relative z-10 p-3 text-xs leading-none rounded-lg text-white whitespace-no-wrap bg-gradient-to-r from-primary-800 to-secondary-600 shadow-lg">
									mySQL
								</span>
							</div>
						</div>
						<div class="group cursor-pointer relative inline-block text-center">
							<img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original.svg" width="80%" alt="Python" />
							<div class="absolute bottom-0 flex-col items-center hidden mb-6 group-hover:flex">
								<span class="relative z-10 p-3 text-xs leading-none rounded-lg text-white whitespace-no-wrap bg-gradient-to-r from-primary-800 to-secondary-600 shadow-lg">
									Python
								</span>
							</div>
						</div>
						<div class="group cursor-pointer relative inline-block text-center">
							<img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-original.svg" width="80%" alt="Nodejs" />
							<div class="absolute bottom-0 flex-col items-center hidden mb-6 group-hover:flex">
								<span class="relative z-10 p-3 text-xs leading-none rounded-lg text-white whitespace-no-wrap bg-gradient-to-r from-primary-800 to-secondary-600 shadow-lg">
									NodeJS
								</span>
							</div>
						</div>
						<div class="group cursor-pointer relative inline-block text-center">
							<img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/java/java-original.svg" width="80%" alt="Java" />
							<div class="absolute bottom-0 flex-col items-center hidden mb-6 group-hover:flex">
								<span class="relative z-10 p-3 text-xs leading-none rounded-lg text-white whitespace-no-wrap bg-gradient-to-r from-primary-800 to-secondary-600 shadow-lg">
									Java
								</span>
							</div>
						</div>
						<div class="group cursor-pointer relative inline-block text-center">
							<img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/scala/scala-original.svg" width="80%" alt="Scala" />
							<div class="absolute bottom-0 flex-col items-center hidden mb-6 group-hover:flex">
								<span class="relative z-10 p-3 text-xs leading-none rounded-lg text-white whitespace-no-wrap bg-gradient-to-r from-primary-800 to-secondary-600 shadow-lg">
									Scala
								</span>
							</div>
						</div>
						<div class="group cursor-pointer relative inline-block text-center">
							<img src="https://raw.githubusercontent.com/prisma/presskit/main/Assets/Prisma-DarkSymbol.svg" width="60%" alt="Prisma" />
							<div class="absolute bottom-0 flex-col items-center hidden mb-6 group-hover:flex">
								<span class="relative z-10 p-3 text-xs leading-none rounded-lg text-white whitespace-no-wrap bg-gradient-to-r from-primary-800 to-secondary-600 shadow-lg">
									Prisma
								</span>
							</div>
						</div>
						<div class="group cursor-pointer relative inline-block text-center">
							<img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/firebase/firebase-plain.svg" width="80%" alt="Firebase" />
							<div class="absolute bottom-0 flex-col items-center hidden mb-6 group-hover:flex">
								<span class="relative z-10 p-3 text-xs leading-none rounded-lg text-white whitespace-no-wrap bg-gradient-to-r from-primary-800 to-secondary-600 shadow-lg">
									Firebase
								</span>
							</div>
						</div>
						<div class="group cursor-pointer relative inline-block text-center">
							<img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nextjs/nextjs-line.svg" width="80%" alt="Nextjs" />
							<div class="absolute bottom-0 flex-col items-center hidden mb-6 group-hover:flex">
								<span class="relative z-10 p-3 text-xs leading-none rounded-lg text-white whitespace-no-wrap bg-gradient-to-r from-primary-800 to-secondary-600 shadow-lg">
									Nextjs
								</span>
							</div>
						</div>
						<div class="group cursor-pointer relative inline-block text-center">
							<img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/csharp/csharp-original.svg" width="80%" alt="C#" />
							<div class="absolute bottom-0 flex-col items-center hidden mb-6 group-hover:flex">
								<span class="relative z-10 p-3 text-xs leading-none rounded-lg text-white whitespace-no-wrap bg-gradient-to-r from-primary-800 to-secondary-600 shadow-lg">
									C#
								</span>
							</div>
						</div>
						<div class="group cursor-pointer relative inline-block text-center">
							<img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/dotnetcore/dotnetcore-original.svg" width="80%" alt=".NET" />
							<div class="absolute bottom-0 flex-col items-center hidden mb-6 group-hover:flex">
								<span class="relative z-10 p-3 text-xs leading-none rounded-lg text-white whitespace-no-wrap bg-gradient-to-r from-primary-800 to-secondary-600 shadow-lg">
									.NET
								</span>
							</div>
						</div>
					</div>
				</div>
				<div class="relative flex h-full flex-col p-6 bg-white dark:bg-slate-900 rounded shadow-xl hover:shadow-lg transition dark:border dark:border-slate-800">
					<div class="flex items-center mb-4">
						<lottie-player class="mx-auto rounded-md w-full" src="https://assets6.lottiefiles.com/packages/lf20_EVx240.json" background="transparent" speed="0.5" style="width: 60%;" loop="" autoplay=""></lottie-player>
						<div class="ml-4 text-2xl font-bold mr-4">Tools</div>
					</div>
					<div class="grid max-w-none grid-cols-4 sm:flex-row sm:justify-center gap-4">
						<div class="group cursor-pointer relative inline-block text-center">
							<img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-original.svg" width="80%" alt="Git" />
							<div class="absolute bottom-0 flex-col items-center hidden mb-6 group-hover:flex">
								<span class="relative z-10 p-3 text-xs leading-none rounded-lg text-white whitespace-no-wrap bg-gradient-to-r from-primary-800 to-secondary-600 shadow-lg">
									Git
								</span>
							</div>
						</div>
						<div class="group cursor-pointer relative inline-block text-center">
							<img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/markdown/markdown-original.svg" width="80%" alt="Markdown" />
							<div class="absolute bottom-0 flex-col items-center hidden mb-6 group-hover:flex">
								<span class="relative z-10 p-3 text-xs leading-none rounded-lg text-white whitespace-no-wrap bg-gradient-to-r from-primary-800 to-secondary-600 shadow-lg">
									Markdown
								</span>
							</div>
						</div>
						<div class="group cursor-pointer relative inline-block text-center">
							<img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/npm/npm-original-wordmark.svg" width="80%" alt="NPM" />
							<div class="absolute bottom-0 flex-col items-center hidden mb-6 group-hover:flex">
								<span class="relative z-10 p-3 text-xs leading-none rounded-lg text-white whitespace-no-wrap bg-gradient-to-r from-primary-800 to-secondary-600 shadow-lg">
									NPM
								</span>
							</div>
						</div>
						<div class="group cursor-pointer relative inline-block text-center">
							<img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/webpack/webpack-original.svg" width="80%" alt="Webpack" />	
							<div class="absolute bottom-0 flex-col items-center hidden mb-6 group-hover:flex">
								<span class="relative z-10 p-3 text-xs leading-none rounded-lg text-white whitespace-no-wrap bg-gradient-to-r from-primary-800 to-secondary-600 shadow-lg">
									Webpack
								</span>
							</div>
						</div>
						<div class="group cursor-pointer relative inline-block text-center">
							<img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/vscode/vscode-original.svg" width="80%" alt="VS Code" />
							<div class="absolute bottom-0 flex-col items-center hidden mb-6 group-hover:flex">
								<span class="relative z-10 p-3 text-xs leading-none rounded-lg text-white whitespace-no-wrap bg-gradient-to-r from-primary-800 to-secondary-600 shadow-lg">
									VS Code
								</span>
							</div>
						</div>
						<div class="group cursor-pointer relative inline-block text-center">
							<img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/visualstudio/visualstudio-plain.svg" width="80%" alt="Visual Studio" />
							<div class="absolute bottom-0 flex-col items-center hidden mb-6 group-hover:flex">
								<span class="relative z-10 p-3 text-xs leading-none rounded-lg text-white whitespace-no-wrap bg-gradient-to-r from-primary-800 to-secondary-600 shadow-lg">
									Visual Studio
								</span>
							</div>
						</div>
						<div class="group cursor-pointer relative inline-block text-center">
							<img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/canva/canva-original.svg" width="80%" alt="Canva" />
							<div class="absolute bottom-0 flex-col items-center hidden mb-6 group-hover:flex">
								<span class="relative z-10 p-3 text-xs leading-none rounded-lg text-white whitespace-no-wrap bg-gradient-to-r from-primary-800 to-secondary-600 shadow-lg">
									Canva
								</span>
							</div>
						</div>
						<div class="group cursor-pointer relative inline-block text-center">
							<img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nuget/nuget-original.svg" width="80%" alt="Nuget" />
							<div class="absolute bottom-0 flex-col items-center hidden mb-6 group-hover:flex">
								<span class="relative z-10 p-3 text-xs leading-none rounded-lg text-white whitespace-no-wrap bg-gradient-to-r from-primary-800 to-secondary-600 shadow-lg">
									Nuget
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
