---
import Icon from "astro-icon";
---

<section class="relative scroll-mt-16 bg-primary-100 dark:bg-slate-800 py-10" id="links">
	<div class="max-w-xl mb-10 md:mx-auto text-center lg:max-w-2xl md:mb-12">
		<p class="text-base text-primary-600 dark:text-primary-200 font-semibold tracking-wide uppercase">My Links</p>
		<h2 class="text-4xl md:text-5xl font-bold leading-tighter tracking-tighter mb-4 font-heading">
			Want to see me elsewhere?
		</h2>
		<p class="max-w-3xl mx-auto sm:text-center text-xl text-gray-600 dark:text-slate-400">
			Follow the links below to find out more about me...
		</p>
	</div>
	<div class="max-w-screen-md mx-auto p-5">
		<div class="mx-auto max-w-xs">
			<div class="grid grid-cols-2 gap-24 m-auto">
				<a class="text-center dark:md:border-slate-500 mb-10 md:mb-0 items-center inline-block text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg"
					href="https://github.com/mtlh/" target="_blank"
					aria-label="Link to my Github"
				>
					<div class="text-4xl font-bold lg:text-5xl xl:text-6xl text-primary-500 hover:text-primary-800 font-heading items-center cursor-pointer">
						<Icon name="tabler:brand-github" class="w-15 h-15" />
					</div>
				</a>
				<a class="text-center dark:md:border-slate-500 mb-10 md:mb-0 items-center inline-block text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg"
					href="https://www.linkedin.com/in/mtlh/" target="_blank"
					aria-label="Link to my Linkedin"
				>
					<div class="text-4xl font-bold lg:text-5xl xl:text-6xl text-primary-500 hover:text-primary-800 font-heading items-center cursor-pointer">
						<Icon name="tabler:brand-linkedin" class="w-15 h-15" />
					</div>
				</a>
			</div>
		</div>
	</div>
</section>
