---
import { Icon } from 'astro-icon';
---

<span class="self-center ml-2 text-2xl font-extrabold text-gray-900 whitespace-nowrap dark:text-white">
	MH
</span>
<span class="self-center ml-2 text-3xl font-extrabold text-gray-900 whitespace-nowrap dark:text-white">
	<Icon name="tabler:separator-vertical" class="w-5 mr-1 -ml-1.5" />
</span>
