---
import { findPostsByIds } from '~/utils/posts';
import Grid from './Grid.astro';

const ids = [
	'mymovies-casestudy',
	'what-impact-does-chatgpt-have',
	'spoura-why-i-love-svelte',
];
const posts = await findPostsByIds(ids);
---

<section id="recentblog">
	<div class="px-4 py-16 mx-auto max-w-6xl lg:py-20 w-full">
		<div class="mb-10 md:mx-auto md:mb-12">
			<h2 class="text-3xl lg:text-4xl font-bold leading-tighter tracking-tighter mb-4 font-heading">
				Featured Blog Posts
			</h2>
			<p class="mx-auto text-xl text-gray-600 dark:text-slate-400">
				My opinions on topics in the web dev space.
			</p>
		</div>
		<Grid posts={posts} />
	</div>
</section>
